@model Client.Models.Sanitation.SanitationVM

<div id="denymodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirm Deny</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Line">Reason Denied</label>
                    @Html.DropDownListFor(m => m.sanitationJobModel.DeniedReason, Model.sanitationJobModel.DenyReasonList, "--Select--", new { @class = "form-control search select2picker", id = "txtDeniedReason", style="width:100%"})
                </div>
                <div class="form-group">
                    <label for="Line" id="lblLine">Comments	</label>
                    <textarea class="form-control search" id="txtDeniedcomments"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="padding:15px 25px !important;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close faIcon"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                <button type="button" class="btn btn-blue" style="float:right;" id="btndeny"><i class="fa fa-check faIcon"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalOK").FirstOrDefault().Value.ToString()</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>
