@charset "utf-8";
/* CSS Document */


/*----font inherit ----------------*/

.mbsc-page, .mbsc-lv-cont, .mbsc-ios .mbsc-fr-w, .mbsc-lv-cont, .mbsc-mobiscroll.mbsc-lv-cont, .mbsc-windows .mbsc-lv-item, .mbsc-form, .mbsc-control-w, .mbsc-btn, .mbsc-segmented, .mbsc-btn,
.mbsc-scv-c, .mbsc-windows.mbsc-ms-c, .mbsc-fr-w, .mbsc-ios .mbsc-fr-w, .mbsc-lv-cont, .mbsc-mobiscroll.mbsc-lv-cont, .mbsc-windows .mbsc-lv-item, .mbsc-form, .mbsc-control-w,
.mbsc-btn, .mbsc-segmented, .mbsc-scv-c, .mbsc-windows.mbsc-ms-c {
    font-family: 'Roboto', sans-serif !important;
}

/*----font inherit ----------------*/

/*----Maintenance Completaion Workbench ----------------*/

ul.listView li span.inputText {
    white-space: inherit !important;
    word-break: break-word !important;
}


.top-tab {
    /*margin-top: 60px !important;*/
    margin-top: 80px !important; //V2-1188
}

#ActiveCard .newDescription span.orderId {
    display: block;
    margin-bottom: 3px;
}
#ActiveCard .types {
    margin-bottom: 3px;
}

#ActiveCard .newDescription p {
    padding: 0 0 3px 0;
    margin: 0;
}

#ActiveCard .gridStatus span {
    margin-bottom: 3px;
}

.actionBar .navbar-btn {
    margin-left: 0px !important;
}

ul.mbsc-comp.tab-nav {
    display: flex;
    align-items: center;
}

ul.mbsc-comp.tab-nav li {
padding: 0px;
}

ul.mbsc-comp.tab-nav li:first-child {
padding: 0px;
}

ul.mbsc-comp.tab-nav li button {
border: 0;
outline: 0;
background-color: #fff;
cursor: pointer;
font-size: 15px;
}

ul.mbsc-comp.tab-nav li button.active {
font-weight: 700;
}

.mbsc-ios.mbsc-ms-c {
border: 0px !important;
}

.gridImgBox img{
    max-height:94px;
}

.gridStatus span.newStatus{
    margin-bottom:0px;
}

.md-apps-tab {
    display: none;
}

.md-apps-tab-sel {
    display: block;
}

.md-app-detail {
    display: block;
    overflow: hidden;
}

.md-app-size {
    font-size: 10px;
    display: block;
    opacity: .6;
    float: left;
}

.md-app-date {
    font-size: 10px;
    display: block;
    opacity: .6;
    float: right;
}

.md-apps-list .mbsc-lv-item {
    padding-left: 50px;
}

.mbsc-ms-top.mbsc-ms-c, .mbsc-ms-bottom.mbsc-ms-c {
    position: relative !important;
    z-index:1 !important;
}

#SortByDropdown li.active, #SortByDropdown li:hover, .mbsc-lv-item.active, .mbsc-lv-item:hover {
    background: #36a3f7;
    color: #fff;
}


/*----Maintenance Completaion Workbench Details----------------*/
.md-vertical-list.mbsc-ios .mbsc-fr-arr {
    background: #fff;
}

.md-vertical-list.mbsc-ios-dark .mbsc-fr-arr {
    background: #0f0f0f;
}

.md-no-border-grid.mbsc-ms-c {
    border: 0;
}

.mbsc-page {
    min-height: auto;
}
/*--------------------*/

.mbsc-ios .mbsc-btn-group-block, .mbsc-ios .mbsc-btn-group-block, .mbsc-form-group, .mbsc-ios.mbsc-btn {
    margin: 0px;
}

.flex-wrap-box {
    display: flex;
    width: 100%;
}

.actionBar .mbsc-ios.mbsc-page {
    background-color: #fff !important;
}

.mbsc-btn {
    color: #315a98 !important;
    background-color: #fff;
    border: #b9c1c4 1px solid !important;
    margin-right: 10px !important;
    padding: 10px 16px !important;
}

.mbsc-btn-group-block {
    margin-right: 10px !important;
}

.actionBar .mbsc-ios.mbsc-form {
    background: #fff !important;
}

#btnsavecommands{
    margin-bottom:10px !important;
}


.pmd-floating-action {
    bottom: 10rem;
    z-index: 1 !important;
}

.pmd-floating-action-btn.btn-primary {
    background: #1a3967 !important;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.pmd-floating-action-btn {
    width: 40px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
}

.pmd-floating-hidden {
    font-size: 14px;
    line-height: 16px;
}

[mbsc-form]:not(.mbsc-form) {
    visibility: visible;
}

.mbsc-windows .mbsc-btn-group-block {
    margin: 0 !important;
}


.col-box-1 {
    padding: 0 5px;
    width: 25%;
}

.col-box-2 {
    padding: 0 5px;
    width: 45%;
}

.col-box-3 {
    padding: 0 5px;
    width: 29%;
}

.col-box-4 {
    padding: 5px 5px;
    width: 100%;
}

.summaryview {
    width:100%;
    display: flex;
    flex-wrap: wrap;
}




/*----popup design ----------------*/


#mainwidget .btn.btn-blue.mobBttn.btncommandCancel {
    margin-top: 10px !important;
}

.slide-modal.slide-active {
    left: 0px;
}

.slide-modal {
    position: fixed;
    left: -100%;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
    z-index: 1000 !important;
    transition: all 0.5s ease;
}


.slide-modal-head {
    display: flex;
    align-items: center;
    background-color: #1a3967;
    border-bottom: #1a3967 1px solid;
    position: relative;
    justify-content: center;
    padding: 8px 75px;
    min-height: 60px;
}

    .slide-modal-head .slide-back-btn {
        display: inline-block;
        padding: 10px;
        color: #fff !important;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        left: 12px;
        top: 9px;
        z-index: 9999;
        cursor:pointer;
    }

        .slide-modal-head .slide-back-btn i {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            margin-right: 2px;
        }

    .slide-modal-head .slide-back-title {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
    }


.slide-modal-body {
    overflow: scroll;
    height: 100%;
    padding-bottom:50px;
}

.slide-modal-body .btn.btn-blue.btnRqst {
    margin:0px !important;
}

.design-box {
    padding: 0px 16px !important;
    margin: 0px 0px 15px;
}


.design-box .btn-blue {
    min-height: 42px;
    margin-bottom:0px !important;
}

.mobBttn {
    margin-bottom: 0px !important;
}

.design-box .chargeTree {
    position: relative;
    right: 0px !important;
    top: 0px;
}


#complitionView .demo-lists {
    width:52px !important;
    height:43px !important;
    padding:0px !important;
}

#label-wrap {
    margin: 0 16px 16px !important;
    border-radius: 0.25em !important;
}

#label-wrap.mbsc-ios.mbsc-control-w:after, #label-wrap.mbsc-ios.mbsc-control-w:before {
    border: 0 !important;
}

.slide-modal-body .checkmark {
    border: #1a3967 1px solid !important;
    background-color:#fff !important;
}

.slide-modal-body .mbsc-ios .mbsc-form-grid .mbsc-input-box.mbsc-control-w, .slide-modal-body .mbsc-ios .mbsc-form-grid .mbsc-input-outline.mbsc-control-w {
    margin: 0 15px 15px;
}

/*----onDemand workorder popup ----------------*/
.mbsc-ios .mbsc-form-grid .mbsc-textfield-wrapper {
    margin: 0.75em 1em;
}

.design-box {
    padding: 5px 16px;
}

.slide-modal .form-control.search {
    border: 0px !important;
}


.assignedFName {
    display: inline !important;
}
    .slide-modal-body .mbsc-ios.mbsc-page {
    min-height:100vh !important;
    padding-top:0px !important;
}
/*----onDemand workorder popup ----------------*


/*----unpland workorder popup ----------------*/
.mbsc-ios .mbsc-form-grid .mbsc-textfield-wrapper {
    margin: 0.75em 1em;
}
.mbsc-form-grid.mbsc-ios.mbsc-form {
    background: #efeff4 !important;
}

/*----unpland workorder popup ----------------*/

.slide-modal .form-control.search.decimalinput {
    border: 1px solid #b9c1c4 !important;
}


.m-brand__logo-wrapper {
    position: relative;
    z-index: 1;
}


.mbsc-form-grid.mbsc-ios.mbsc-form {
    background: #efeff4 !important;
}




.mbsc-ios .mbsc-err-msg {
    padding: 0 20px;
    position: relative;
    top: -11px;
    font-weight:400;
}



/*----popup design ----------------*/
.field-validation-error {
    position: relative;
    top: -15px;
}


#CompletionCommentsStep .inputText {
    width: 100% !important;
}

@media(min-width:1150px) {
    .gridImgBox img {
        height:auto !important;
        max-width:110% !important;
    }

    .newStatus span {
        margin: 3px 0px !important;
        line-height: 17px;
    }

    .openMenu .gridList button.btn-blue.wobtngrdcancel,.openMenu .gridList button.complete {
        width:100% !important;
    }
    .btn.btn-white.navbar-btn {
        max-height: 37px;
        width: 40px;
        padding: 8px 0px !important;
    }

    #WoCompSrchBttn {
        position: relative;
        top: 1px;
    }
}

.rowTopSpaceComplition {
    padding-top: 320px;
}

@media(max-width:1400px) {
    .rowTopSpaceComplition {
        padding-top: 300px;
    }
}

@media(max-width:1366px) {
    .rowTopSpaceComplition {
        padding-top: 260px;
    }
}

@media(max-width:1300px) {
    .rowTopSpaceComplition {
        padding-top: 220px;
    }
}

    @media(max-width:1200px) {
        .mobBttn {
            width: 100%;
        }

        .gridStatus span {
            display: block;
            margin-bottom: 0px;
        }

        .btn.btn-white.navbar-btn {
            max-height: 37px;
            width: 40px;
            padding: 8px 0px !important;
        }

        #WoCompSrchBttn {
            position: relative;
            top: 1px;
        }

        .rowTopSpaceComplition {
            padding-top: 190px;
        }
    }


    @media(max-width:1023px) {
        #WoCompSrchBttn {
            position: relative;
            top: 1px;
        }

        .top-tab {
            margin-top: 0px !important;
        }

        .rowTopSpaceComplition {
            padding-top: 160px;
        }
    }

    @media(max-width:900px) {
        #WoCompSrchBttn {
            position: relative;
            top: 1px;
        }

        .mobBttn {
            width: 100%;
        }

        .bttns2 {
            float: none;
        }

        .m-brand__logo-wrapper {
            width: 60px !important;
            overflow: hidden !important;
        }

        .rowTopSpaceComplition {
            padding-top: 140px;
        }
    }



    @media (max-width: 680px) {
        #WoCompSrchBttn {
            position: relative;
            top: 1px;
        }

        #ActiveCard .col-md-2 {
            width: 20% !important;
            padding: 0px 5px !important;
        }

        .m-portlet__body.gridList .row .col-md-5:nth-child(2) {
            width: 45%;
            padding: 0px 5px !important;
        }

        .m-portlet__body.gridList .row .col-md-5:nth-child(3) {
            width: 35%;
            padding: 0px 5px !important;
        }

        #ActiveCard .newDescription {
            margin-top: 0px;
        }

        .zoomWindowContainer div {
            width: 234px !important;
        }

        .m-brand .m-brand__tools .m-brand__icon {
            margin-left: 76%;
        }

        .newLogo {
            width: 50px !important;
            padding-left: 0px !important;
        }




        .gridList button.btn-blue.wobtngrdcancel, .btn.btn-blue.complete {
            width: 100% !important;
        }

        .gridList button.complete, .updateArea button.complete {
            margin: 5px 0 !important;
            width: 100% !important;
            float: none !important;
        }
    }


    @media (max-width: 480px) {
        #WoCompSrchBttn {
            position: relative;
            top: 1px;
        }

        .m-body .m-content {
            padding: 20px 0px;
        }

        .m-portlet .m-portlet__body {
            padding: 0px;
        }

        .m-portlet__body.gridList {
            padding: 5px;
        }

        #DashboardList {
            padding: 5px;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: calc(100% - 54px);
        }

        .mr-auto {
            padding-left: 5px;
        }

        .actionBar {
            padding: 5px;
        }

        .m-portlet {
            margin-bottom: 5px;
        }

        .m-portlet__body.gridList .row {
            flex-wrap: inherit;
            margin: 0 -5px !important;
        }

            .m-portlet__body.gridList .row .col-md-5:nth-child(2) {
                width: 60%;
                padding: 0px 5px !important;
            }

            .m-portlet__body.gridList .row .col-md-5:nth-child(3) {
                width: 40%;
                padding: 0px 5px !important;
            }

        .gridImgBox {
            width: 100% !important;
        }

        #ActiveCard .col-md-2 {
            width: 20% !important;
            padding: 0px 5px !important;
        }



        .gridImgBox img {
            height: auto !important;
            width: 100% !important;
        }

        .newDescription, .gridStatus {
            font-size: 9px;
        }

            .newDescription span.orderId {
                display: flex;
                align-items: center;
            }

        #orderId .m-badge, .newDescription, .m-badge.m-badge-grid-cell.m-badge--blue.m-badge--wide {
            margin-top: 0px !important;
        }

            .newDescription span.orderId, .types, .gridStatus span {
                margin-bottom: 3px;
            }



        .assignedFName {
            display: inline !important;
        }

        .gridStatus {
            margin-bottom: 0px;
        }

        .m-portlet.cardRow {
            margin-bottom: 5px;
        }

        .m-badge.m-badge--blue {
            font-size: 10px !important;
            padding: 0px 7px !important;
        }

        #compsearchBttnNewDrop {
            top: 46px !important;
        }

        .pagination {
            display: inline-block !important;
            width: 100% !important;
        }

        .dataTables_paginate ul.pagination > li.page-item > a.page-link {
            width: 25px;
            height: 25px;
            line-height: 25px;
        }

        .dataTables_paginate ul.pagination > li img {
            width: 25px;
            height: 25px;
        }

        .dataTables_wrapper .dataTables_paginate {
            width: 100% !important;
        }

        .m-subheader.fixedDiv1 {
            padding: 0 0 0 5px;
        }

        .fixedDiv1 .filterDescription {
            font-size: 12px;
            line-height: 16px;
            width: calc(100% - 5px);
            margin-bottom: 0px;
            padding-right: 10px;
        }

        .new-m-subheader {
            padding-bottom: 20px;
        }

        .col-box-1 {
            padding: 0 5px;
            width: 25%;
        }

        .col-box-2 {
            padding: 0 5px;
            width: 45%;
        }

        .col-box-3 {
            padding: 0 5px;
            width: 29%;
        }

        .col-box-4 {
            padding: 5px 5px;
            width: calc(100% + 5px);
            margin-right: -5px;
        }

        .summaryview {
            width: calc(100% + 5px);
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
        }



        .gridList button.complete {
            width: 50%;
        }

        .m-subheader.fixedDiv1 .new-m-subheader {
            display: flex !important;
            justify-content: space-between !important;
            align-items: center !important;
        }

        .ActionBttnArea {
            width: 140px !important;
        }

        .actionDiv {
            width: 120px !important;
        }

        .fixedDiv1 .filterDescription {
            width: calc(100% - 120px) !important;
        }

        .ActionBttnArea .actionDiv .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100% !important;
        }

        .gridImgBox img {
            height: auto !important;
        }
    }


    /*#region V2-734*/
    #label-wrap {
        margin: 0 16px 16px !important;
    }

    @media screen and (min-width: 600px) and (max-width:767px) {


        .mobitxtfieldactive {
            position: fixed !important;
            padding: 15px 10px;
            top: 0px;
            left: 0px;
            width: 100% !important;
            margin: 0px !important;
            background-color: #1a3967 !important;
            z-index: 999999 !important;
        }

            .mobitxtfieldactive .mbsc-input-wrap {
                background: #efeff4 !important;
            }

            .mobitxtfieldactive #label-wrap {
                margin: 0 16px !important;
            }


            .mobitxtfieldactive .txtSearchClickComp, .mobitxtfieldactive .clearTextBoxValue {
                top: 25px !important;
            }

            .mobitxtfieldactive .txtSearchClickComp {
                left: 25px !important;
            }

            .mobitxtfieldactive .clearTextBoxValue {
                right: 25px !important;
            }
        /*#endregion*/
    }
