@charset "utf-8";
/* CSS Document */


@media(min-width:1024px) and (max-width:1200px) {
    .cardRow .col-box-4.button-row {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

        .cardRow .col-box-4.button-row button.btn {
            display: inline-block;
            width: auto !important;
            margin: 0 5px;
            text-align: center !important;
        }

    .img-radio.bttns.takePic {
        margin-top: 0px;
    }

        .img-radio.bttns.takePic .btn .fa-camera:before {
            left: -9px;
            position: relative;
        }

        .img-radio.bttns.takePic .btn.btn-blue .fa-camera:before {
            left: auto;
            position: relative;
        }

       

        .openMenu .gridList button.btn-blue.wobtngrdcancel, .openMenu .gridList button.complete {
            width: auto !important;
        }

    .onCamera.vd-webcam {
        max-width:700px !important;
    }
}



@media(max-width:1023px) {
    .onCamera.vd-webcam {
        max-width: 280px !important;
    }
    .img-radio.bttns.takePic .btn.btn-blue {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:550px) {
    .onCamera.vd-webcam {
        max-width: 90% !important;
        margin:0 auto;
    }
}