@model Client.Models.Parts.PartsVM


<div class="slide-modal partcheckoutlookuplistModal" id="partcheckoutEquipmentModal">
    <div class="slide-modal-head">
        <a class="slide-back-btn partcheckoutlookuplistModalHide" id="partcheckoutEquipmentModalHide"> <i class="fa fa-angle-left"></i> Back</a>
        <div class="slide-back-title">
            @Model.Loc.Where(a => a.ResourceId == "spnSelectEquipment").FirstOrDefault().Value.ToString()
        </div>
    </div>
    <div class="slide-modal-body">
        <div class="form-group" style="position:relative;">
            <i class="fa fa-search txtSearchClickComp" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
            <a href="javascript:void(0)"><i class="fa fa-close clearTextBoxValue" data-txtboxid="txtEquipmentSearch_Mobile" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
            <input type="search" id="txtEquipmentSearch_Mobile" class="form-control search unsortable" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
        </div>
        <div id="DivPartSearchScrollViewModal">
            <ul id="AssetListViewForSearch" class="mbsc-cloak" mbsc-enhance>
                @*<li data-role="list-divider">Top Rated Movies</li>*@
            </ul>
            <div class="mbsc-padding" mbsc-form style="margin-bottom:80px;">
                <button mbsc-button id="btnAssetLoadMore" class="btn btn-blue mobBttn" data-color="success">Load More</button>
            </div>
        </div>
    </div>
</div>
