<div class="slide-modal" id="QrCodeReaderModal_Mobile">
    <div class="slide-modal-head ">
        <a  id="closeQrScanner_Mobile" class="slide-back-btn"> <i class="fa fa-angle-left"></i> Back</a>
        <div class="slide-back-title">
        </div>
    </div>
    <div class="slide-modal-body QRmodal-dialog">
        <div class="QRmodal-content">
            <div class="Qrmodal-body">
                <div id="reader"></div>
            </div>
        </div>
    </div>
    <div class="slide-modal-footer"></div>
</div>
