.tab_bttn {
    background-color: #315a98;
    font-family: Roboto;
    outline: none;
    cursor: pointer;
    padding: 9px 15px;
    transition: 0.3s;
    font-size: 15px;
    color: #fff;
    min-width: 130px;
    text-align: center;
    border: 0;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

    .tab_bttn:not(.active):hover {
        background-color: #6c94d0 !important;
        border-bottom: 0;
        color: #fff !important;
        text-decoration: none;
    }

    .tab_bttn.active {
        background-color: #fff;
        border-bottom: 0;
        color: #000;
        text-decoration: none;
        cursor: text;
    }

.tab button {
    min-width: 100px !important;
}

ul.filter_apply li:first-child {
    border-right: 1px solid #ccc;
    padding: 0 10px 0 0;
}

ul.filter_apply li:last-child {
    border-right: 0px solid #ccc;
    padding: 0 10px 0 0;
}

.assignedBlockRL {
    float: left;
    width: 263px;
    margin-right: 9px;
}

    .assignedBlockRL .select2-container {
        width: auto !important;
        min-width: 200px !important;
    }

/*#popupExport {
    right: 31px !important;
    top: 200px !important;
}*/

.updateArea {
    margin-top: 0;
}

.import-export {
    float: left;
    margin-right: 0 !important;
}

.availableWork {
    float: left;
    margin-right: 10px !important;
}

    .availableWork i.fa {
        position: relative;
        top: -2px;
    }

#layoutsortmenu {
    width: 110px;
}

.dropdown-toggle#layoutsortmenu::after {
    margin-left: 5.255em;
}

#layoutDrop .dropdown-menu.show {
    width: 110px !important;
    min-width: 110px !important;
}

.groupBlock {
    width: 200px;
    float: left;
}

    .groupBlock .select2-container {
        width: 145px !important;
    }

.scheduledBlock {
    float: left;
    width: 250px;
    margin-right: 9px;
}

    .scheduledBlock .select2-container {
        width: 180px !important;
    }

.assignedBlockRL .select2-container--default .select2-selection--multiple .select2-selection__clear {
    margin-top: 3px !important;
    margin-right: 0 !important;
}

.select2-container--open .select2-dropdown--below input[type="radio"], input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.select2-container--open .select2-dropdown--below label {
    margin-bottom: 0;
}

#btnRemove {
    margin-left: 10px;
}

.select2-container--default .select2-selection--multiple {
    height: auto !important;
}

.searchBttnDrop {
    right: auto;
    left: 582px !important;
}
#searchBttnNewDropRL {
    right: auto;
    left: 324px !important;
}


.lftTab {
    padding-right: 0;
}

.rhtTab {
    padding-left: 0;
}
/**/
@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    /*.openMenu .actionBar .pull-right {
        float: left;
        margin-top: 10px;
    }
    */

    .openMenu #popupExport .AvailableClass {
        left: 77% !important;
        top: 243px !important;
    }
    .openMenu #popupExport .NotAvailableClass {
        left: 77% !important;
        top: 243px !important;
    }
}

@media only screen and (min-width: 1360px) and (max-width: 1365px) {
    /*.openMenu .actionBar .pull-right {
        float: left;
        margin-top: 10px;
    }*/

    .openMenu #popupExport.AvailableClass, .closeMenu #popupExport.AvailableClass {
        /*left: 91px !important;
        top: 243px !important;*/
        left: auto !important;
        top: 243px !important;
        right: 171px !important;
    }
    .openMenu #popupExport.NotAvailableClass, .closeMenu #popupExport.NotAvailableClass {
        /*left: 91px !important;
        top: 243px !important;*/
        left: auto !important;
        top: 243px !important;
        right: 40px !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1359px) {
   /* .actionBar .pull-right {
        float: left;
        margin-top: 10px;
    }*/

    .openMenu #popupExport.AvailableClass {
        left: 250px !important;
        top: 243px !important;
    }
    .openMenu #popupExport.NotAvailableClass {
        left: 250px !important;
        top: 243px !important;
    }

    .closeMenu #popupExport.AvailableClass {
        left: -97px !important;
        top: 243px !important;
    }
    .closeMenu #popupExport.NotAvailableClass {
        left: -97px !important;
        top: 243px !important;
    }
    .searchBttnDrop {
        right: 10px;
        left: auto !important;
    }
}

@media screen and (max-width: 1359px) {
    /*  .openMenu #popupExport {
        right: 390px !important;
        top: 204px !important;
    }*/
}

@media screen and (max-width: 1199px) {
    .actionBar div.pull-right {
        float: left !important;
        margin-top: 10px !important;
        width:100%;
    }

    .openMenu #popupExport.AvailableClass {
        left: 80px !important;
        top: 290px !important;
    }

    .openMenu #popupExport.NotAvailableClass {
        left: 426px !important;
        top: 243px !important;
    }
    .closeMenu #popupExport.AvailableClass {
        left: 75px !important;
        top: 243px !important;
    }

    .closeMenu #popupExport.NotAvailableClass {
        left: 75px !important;
        top: 243px !important;
    }
    .searchBttnDrop {
        right: 10px;
        left: auto !important;
    }
}

@media screen and (max-width: 1023px) {
    #popupExport.AvailableClass {
        right: 0 !important;
        top: 160px !important;
        left: 50% !important;
        margin-left: -83px !important;
    }

    #popupExport.NotAvailableClass {
        right: 0 !important;
        top: 160px !important;
        left: 50% !important;
        margin-left: -83px !important;
    }
    #SrchBttnNew {
        margin-right: 0 !important;
    }

    .searchBttnDrop {
        right: 0;
        left: auto !important;
    }


    #workorderplanningmaincontainer #popupExport {
        top: 182px !important;
        left: auto !important;
        right: 34px !important;
    }

    #workorderplanningmaincontainer #popupExport.AvailableClass {
        left: 217px !important;
        top: 314px !important;
        right:auto !important;
    }

}


@media only screen and (max-width: 767px) and (min-width: 640px) {
    .actionBar div.pull-left .navbar-btn {
        margin-top: 10px !important;
    }

    .actionBar div.pull-right {
        float: right;
        margin-top: 10px;
        width: 100%;
    }

    .searchBttnDrop {
        top: 80px !important;
        right: 19px;
        left: auto !important;
    }

    #workorderplanningmaincontainer #popupExport {
        left: 50% !important;
        top: 50% !important;
        margin-left: -83 px !important;
        margin-top: -84 px !important;
    }

    #workorderplanningmaincontainer #popupExport.AvailableClass {
        left: 50% !important;
        top: 50% !important;
        margin-left: -83 px !important;
        margin-top: -84 px !important;
    }

}

@media only screen and (max-width: 639px) and (min-width: 568px) {
    .actionBar div.pull-right {
        float: right;
        margin-top: 10px;
        width: 100%;
    }

    .actionBar div.pull-left div, .actionBar div.pull-left button {
        margin-top: 10px !important;
    }

    .import-export {
        margin-top: 0 !important;
    }

    .lftTab {
        padding-right: 10px;
    }

    .rhtTab {
        padding-left: 10px;
    }

    .searchBttnDrop {
        top: 80px !important;
    }


    #workorderplanningmaincontainer #popupExport {
        left: 50% !important;
        top: 50% !important;
        margin-left: -83 px !important;
        margin-top: -84 px !important;
    }

        #workorderplanningmaincontainer #popupExport.AvailableClass {
            left: 50% !important;
            top: 50% !important;
            margin-left: -83 px !important;
            margin-top: -84 px !important;
        }
   

}

@media screen and (max-width: 567px) {
    .actionBar div.pull-right #layoutDrop {
        margin-bottom: 9px !important;
    }

    .actionBar div.pull-right .groupBlock {
        margin-bottom: 10px !important;
    }

    .actionBar div.pull-left div, .actionBar div.pull-left button {
        margin-top: 10px !important;
    }

    .import-export {
        margin-top: 0 !important;
    }

    .lftTab {
        padding-right: 10px;
    }

    .rhtTab {
        padding-left: 10px;
    }

    .searchBttnDrop {
        top: 80px !important;
    }


    #workorderplanningmaincontainer #popupExport {
        left: 50% !important;
        top: 50% !important;
        margin-left: -83 px !important;
        margin-top: -84 px !important;
    }

    #workorderplanningmaincontainer #popupExport.AvailableClass {
        left: 50% !important;
        top: 50% !important;
        margin-left: -83 px !important;
        margin-top: -84 px !important;
    }

   
}

@media screen and (max-width: 479px) {
    .scheduledBlock {
        margin-top: 10px;
    }

    #sidebarCollapse.navbar-btn {
        margin-top: 10px !important;
        margin-right: 10px !important;
    }

    .actionBar div.pull-left div.assignedBlockRL {
        width: 100% !important;
    }
    /*.actionBar div.pull-left div.assignedBlockRL label {
        display: block;
    }*/
    .searchBttnDrop {
        top: 175px !important;
    }



    .gantt_layout_outer_scroll_vertical .gantt_layout_content {
        overflow-y: scroll !important;
    }

    #projectmaincontainer ul.listView.nobrd li {
        height: auto !important;
    }
    .gantt_cell {
        text-align:center !important;
    }

}

@media screen and (max-width: 410px) {

  
    .scheduledBlock {
        width: 250px;
    }

        .scheduledBlock .select2-container {
            width: 180px !important;
        }

    /*#sidebarCollapse.navbar-btn {
        margin-right: 0 !important;
    }*/

    .groupBlock {
        width: 180px;
    }

        .groupBlock .select2-container {
            width: 135px !important;
        }
}

@media screen and (max-width: 374px) {
    .scheduledBlock {
        width: 199px;
    }

        .scheduledBlock .select2-container {
            width: 199px !important;
        }

    /*#sidebarCollapse.navbar-btn {
        margin-top: 34px !important;
    }*/
}

@media only screen and (max-width: 567px) and (min-width: 480px) {
    #shortDrop {
        margin-top: 0px;
        margin-right: 10px !important;
    }

    .updateArea .pull-right {
        margin-top: 0;
    }
}

@media only screen and (max-width: 479px) and (min-width: 360px) {
    .updateArea {
        padding: 0;
    }

        .updateArea .pull-right {
            margin-top: 0;
            float: right !important;
            width: auto;
        }

    .actionBar#woGridAction div.pull-right #liCustomize {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

   

}

@media only screen and (max-width: 359px) and (min-width: 320px) {
    .BulkUpdate {
        margin-left: 0 !important;
    }

    #liCustomize {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    

}

@media only screen and (width:411px) {
    #shortDrop {
        margin-right: 10px !important;
        margin-top: 0 !important;
    }

    .updateArea .pull-right {
        margin-top: 0;
        float: right !important;
        width: auto;
    }


}

@media only screen and (width:414px) {
    #shortDrop {
        margin-top: 0;
        margin-right: 10px !important;
    }
}

tr.group, tr.group:hover {
    background-color: #83cad0 !important;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.ShowContent {
    display: block;
}

.HodeContent {
    display: none;
}

.select2-container--open .select2-dropdown--below input[type="radio"], input[type="checkbox"] {
    position: relative;
    top: 2px;
    margin-right: 8px;
}

.select2-container--open .select2-dropdown--below label {
    margin-bottom: 0;
}

.overlay2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 104;
    display: none;
    left: 0;
    top: 0;
}

#AvailableWorkRL .modal .modal-content .modal-header,
#AvailableWorkRL .modal .modal-content .modal-body,
#AvailableWorkRL .modal .modal-content .modal-footer {
    display: block;
    padding: 15px !important;
}

#AvailableWorkRL .dataTables_wrapper {
    margin-bottom: 3px !important;
}

.tablinks.active {
    cursor: text;
}

.tabcontentRL {
    animation: fadeEffect 1s;
}

.tabcontentRL {
    font-family: Roboto;
    display: none;
    padding: 0;
    border-top: none;
}

#popupExport.AvailableClass {
    top: 243px !important;
    right: 170px !important;
}

#popupExport.NotAvailableClass {
    top: 243px !important;
    right: 40px !important;
}