@{
    ViewBag.Title = "Somax-Config | Vendor Master";
}
@Styles.Render("~/Content/datatable")

@section scripts {
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/VendorMaster")
}
<div id="rendervendormaster">
    @Html.Partial("~/Views/Configuration/VendorMaster/_VendorMasterSearch.cshtml")
</div>
