.errorClass {
    border-bottom: 1px solid red !important;
}

.modal .modal-content .modal-header {
    padding: 15px 25px !important;
    background: #315a98 !important;
}

    .modal .modal-content .modal-header .modal-title {
        color: #fff !important;
    }

.modal-header .close {
    margin: 0rem -1rem -1rem auto !important;
}

.close {
    color: #fff !important;
    opacity: 1 !important;
    text-shadow: none !important;
}

.modal .modal-content .modal-footer {
    padding: 15px 25px !important;
}

.modal-footer {
    display: block !important;
}

#myModal {
    padding-right: 0px !important;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.alertboxme {
    font-family: Roboto;
    display: block;
    position: relative;
    border-radius: 6px;
    font-size: 1rem;
    padding: 15px;
    margin-top: 1.5rem;
    background-color: #f64e60;
    color: #fff;
    transition: height .5s ease-in,opacity .5s ease-in;
    word-wrap: break-word;
    word-break: break-word;
}

    .alertboxme p {
        margin-top: 10px;
        margin-bottom: 0;
        word-wrap: break-word;
    }

        .alertboxme p.alert-title {
            padding: 0;
            margin: 0;
            font-size: 15px;
        }

a.popClosedBoxMe {
    position: absolute;
    right: 15px;
    color: #fff;
    font-weight: 300;
}

.hide {
    display: none;
}

.m-radio {
    color: #ffffff;
    margin: 0 20px;
}

    .m-radio.m-radio--success > span {
        border: 1px solid #ffffff;
    }

    .m-radio.m-radio--success > input:checked ~ span {
        border: 1px solid #0d213e;
    }

    .m-radio.m-radio--success > span:after {
        border: solid #0d213e;
        background: #0d213e;
    }

h3.titleForgot {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

p.subTitleForgot {
    margin-top: 1rem;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 300;
}
