div.gantt_cal_ltitle .gantt_title {
    padding-left: 0px !important;
    font-weight: 500 !important;
}

#ganttloader {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24px;
    margin-top: -24px;
    z-index: 99;
}

#ganttoverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 98;
    display: none;
    left: 0px;
    top: -10px;
}

#ganttchart {
    /*width: auto;
    height: auto;*/
    position: relative;
    min-height: 410px;
}

.gantt_grid .gantt_grid_scale .gantt_grid_head_cell,
.gantt_task .gantt_task_scale .gantt_scale_cell
/*.gantt_task .gantt_task_scale .gantt_scale_cell.gantt_last_cell*/ {
    text-transform: none !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #575962 !important;
    background: #ebe8f2 !important;
}

.gantt_tree_content {
    text-transform: none !important;
    font-weight: 300 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #212529 !important;
}

.gantt_task_content {
    text-transform: none !important;
    font-weight: 300 !important;
    font-size: 13px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #fff !important;
}

.gantt_grid .gantt_grid_scale {
    border-right: 1px solid #d7d7d7;
    background: #ebe8f2 !important;
    /*border-bottom: 0 !important;*/
}

div.gantt_grid_scale:after,
div.gantt_scale_line:last-child:after {
    box-shadow: none;
}

.gantt_cal_light {
    height: 302px !important;
}

.gantt_save_btn_set, .gantt_cancel_btn_set {
    margin-bottom: 0 !important;
}

div.gantt_cal_light {
    padding: 15px 10px;
}

    div.gantt_cal_light .gantt_cal_ltitle {
        padding: 10px 5px 0px 5px;
    }

    div.gantt_cal_light .gantt_cal_lsection {
        padding-bottom: 0;
    }

.gantt_section_time .gantt_time_selects {
    height: 30px !important;
}

div.gantt_cal_light .gantt_cal_larea {
    padding: 0 !important;
}

.gantt_row_task:first-child {
    border-bottom: 0px !important;
}

div.gantt_cal_light .gantt_section_time select, div.gantt_cal_light select {
    height: 29px;
}

.gantt_duration .gantt_duration_dec, .gantt_duration .gantt_duration_inc, .gantt_duration .gantt_duration_value {
    height: 98%;
}

.gantt_row.gantt_row_task:nth-last-child(2) {
    border-bottom: 1px solid #d7d7d7 !important;
}


@media (max-width: 500px) {

    .gantt_section_time .gantt_time_selects {
        height: auto !important;
        width: 100%;
        margin: 0 0 7px 0 !important;
    }

    .gantt_duration {
        margin-left: 0 !important;
    }

    .gantt_cal_light {
        height: 312px !important;
    }
}