@{
    ViewBag.Title = "Somax | Procurement Approvals";
}

@Styles.Render("~/Content/datatable")
<link href="~/Content/sidebar_custom.css" rel="stylesheet" />
<link href="~/Scripts/Metronic/assets/demo/default/base/GlobalSearchGrid.css" rel="stylesheet" />
@section scripts {
    @Scripts.Render("~/bundles/datatable")
    <script src="~/Scripts/Pages/PurchaseApproval/PurchaseApproval.js"></script>
}
<div id="renderPurchaseApproval">
    @Html.Partial("~/Views/PurchaseApproval/PurchaseApproval.cshtml")
</div>





