@charset "utf-8";
button.complete {float: left;margin-right: 10px;background: #34bfa3;color: #fff;border: 1px solid #34bfa3;}
button.complete:hover,button.complete:active,button.complete:focus {background: #1f917a;color: #fff;border: 1px solid #1f917a;}
#layoutDrop {float: left;margin-right: 10px; z-index:8;}
#layoutsortmenu {
    width: 160px;
    text-align: left;
}
.dropdown-toggle#layoutsortmenu::after {
    margin-left: 1.255em;
}
#scheduleDrop {
    float: left;  
}
#schedulesortmenu {
    width: 160px;
    text-align: left;
}
.dropdown-toggle#schedulesortmenu::after {
    margin-left: 1.255em;
}
#approveDrop {
    float: left;
    margin-right: 10px;
}
#approvesortmenu {
    width: 160px;
    text-align: left;
}
.dropdown-toggle#approvesortmenu::after {
    margin-left: 1.255em;
}
.dropToggle {
    display: block;
    float: left;
    margin-right: 7px;
    margin-top: 4px;
    padding: 3px 5px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background: #f1f1f1;
    border: 1px solid #b9c1c4;
    cursor: pointer;
}
.dropToggle:hover {
    background: #fff;
    border: 1px solid #3f4047;
}
.slideToggleBar {
    position: fixed;
    left: 256px;
    top: 61px;
    z-index: 101;
    background: #fff;
    width: 260px;
    height: 100%;
    box-shadow: 0 0 15px 2px #c1c1c1;
}
.searchBoxArea {
    padding: 10px;
    border-bottom: 2px solid #315a98;
}
.searchList { }
.searchList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.searchList ul li {
    font-weight: 400;
    font-size: 1.02rem;
    text-transform: initial;
    color: #575962;
}
.searchList ul li a {
    display: block;
    padding: 7px 10px;
    color: #575962;
    text-decoration: none;
    margin-bottom: 1px;
}
.searchList ul li:hover,
.searchList ul li a:hover,
.searchList ul li a:focus {
    background: #ebe8f2;
    color: #575962;
    text-decoration: none;
}
.searchList ul li a:active,
.searchList ul li.activeState a {
    background: transparent url('../../../../../../Images/hoverTick.png') no-repeat right center;
    color: #315a98;
    text-decoration: none;
}
.form-control.searched {
    border: 0px solid #b9c1c4;
    padding: 0.65rem 1rem 0.65rem 1.65rem;
    color: #333;
}
.searchBttnDrop {
    background: #fff;
    box-shadow: 0 0 15px #c1c1c1;
    width: 250px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 9;
    border-radius: 5px;
}
.searchInfo {
    margin-bottom: 0.5rem;
}
.searchInfo span.recent {
    font-weight: 500;
    font-size: 1.02rem;
    text-transform: initial;
    color: #575962;
    display: block;
    width: auto;
    float: left;
}
.searchInfo span.clear {
    font-weight: 400;
    font-size: 1.02rem;
    text-transform: initial;
    color: #2a5ec4;
    display: block;
    width: auto;
    float: right;
}
.searchInfo span.clear a {
    color: #2a5ec4;
    text-decoration: none;
}
.m-portlet.cardRow {
    border: 1px solid #cfd7df;
    border-radius: 0.25rem;
    margin-bottom: 15px;
}
/*.m-portlet.cardRow:last-child { margin-bottom: 20px; }*/
.gridList {
    padding: 0.75rem;
}
.gridList:hover {
    background: #eceff1;
}
.gridImgBox {
    border-radius: 5px;
    width: 85%;
    float: left;
}
.gridImgBox img {
    border-radius: 5px;
    height: 121px !important;
}
.gridCheck {
    width: 15%;
    float: left;
    height: 100%;
    padding: 44px 0;
}
.newDescription {
    font-size: 1.1rem;
    color: #575962;
    font-weight: 400;
}
.newDescription span.orderId {
    display: block;
    margin-bottom: 7px;
}
.newDescription span.orderId a {
    color: #315a98;
    font-weight: 400;
}
.types {
    margin-bottom: 7px;
}
.newDescription p {
    padding: 0 0 7px 0;
    margin: 0;
}
.newDescription p:last-child {
    padding: 0;
}
.gridStatus {
    font-size: 1.1rem;
    color: #575962;
    font-weight: 400;
    position: relative;
    height: 100%;
}
.gridStatus span {
    display: block;
    margin-bottom: 7px;
}
.gridStatus span.newStatus {
    color: #575962;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
}
.CardPagination { }
#layoutDrop .dropdown-menu.show {
    top: 1px !important;
    width: 159px !important;
}
.tblMain.dataTable thead .sorting_asc {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center right;
}
.tblMain.dataTable thead .sorting_desc {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center right;
}
.sort-active, .sort-active:hover, .sort-active a:hover {
    background: #fff url('../../../../../../Images/hoverTick.png') no-repeat right center !important;
}
.sort-active a, .sort-active i, .sort-active i:hover {
    color: #1a3967 !important;
}
.childtable.dataTable thead .sorting_asc {
    background-image: url('../../../../Images/upArrow1.png') !important;
    background-repeat: no-repeat;
    background-position: center right;
}
.childtable.dataTable thead .sorting_desc {
    background-image: url('../../../../Images/downArrow1.png') !important;
    background-repeat: no-repeat;
    background-position: center right;
}
/*.filterDescription {
    width: auto;
    float: left;
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    line-height: 33px;
}
.filterDescription a {
    color: #36a3f7;
    text-decoration: none !important;
}*/

/********** Responsive **********/

@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    .openMenu .gridList button.complete {margin:7px 0 !important; width: 80%; }
    .closeMenu .gridList button.complete {margin:7px 0 !important; width: 65%; }
    .openMenu .gridList button.btn-blue.wobtngrdcancel {width: 80%; }
    .closeMenu .gridList button.btn-blue.wobtngrdcancel {width: 65%; }
    .openMenu .gridList button.wobtngrdschedule { width:80%; } 
    .closeMenu .gridList button.wobtngrdschedule { width:65%; }
}
@media only screen and (min-width: 1360px) and (max-width: 1365px) {
    .openMenu .gridList button.complete {margin:7px 0 !important; width: 80%; }
    .closeMenu .gridList button.complete {margin:7px 0 !important; width: 65%; }
    .openMenu .gridList button.btn-blue.wobtngrdcancel {width: 80%; }
    .closeMenu .gridList button.btn-blue.wobtngrdcancel {width: 65%; }
    .openMenu .gridList button.wobtngrdschedule { width:80%; } 
    .closeMenu .gridList button.wobtngrdschedule { width:65%; }
}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {
    .openMenu .gridList button.complete {margin:7px 0 !important; width: 80%; }
    .closeMenu .gridList button.complete {margin:7px 0 !important; width: 65%; }
    .openMenu .gridList button.btn-blue.wobtngrdcancel {width: 80%; }
    .closeMenu .gridList button.btn-blue.wobtngrdcancel {width: 65%; }
    .openMenu .gridList button.wobtngrdschedule { width:80%; } 
    .closeMenu .gridList button.wobtngrdschedule { width:65%; }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .openMenu .actionBar div.pull-right { float: right; margin-top: 0px; }
    .openMenu .gridList button.complete {margin:7px 0 !important; width: 100%; }
    .closeMenu .gridList button.complete {margin:7px 0 !important; width: 77%; }
    .openMenu .gridList button.btn-blue.wobtngrdcancel {width: 100%; }
    .closeMenu .gridList button.btn-blue.wobtngrdcancel {width: 77%; }
    .openMenu .gridList button.wobtngrdschedule { width:100%; } 
    .closeMenu .gridList button.wobtngrdschedule { width:77%; }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .PageTitle { float: left; }
    .ActionBttnArea { float: right; }
    .actionBar div.pull-right { float: right; margin-top: 0; }
    .gridList button.complete {margin:7px 0 !important; width: 100%; }
    .gridList button.btn-blue.wobtngrdcancel {width: 100%; }
    .gridList button.btn-blue.wobtngrdschedule { width:100%; }
    .slideToggleBar { left: 0 }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .PageTitle { float: left; }
    .ActionBttnArea { float: right; }
    .newDescription { margin-top: 15px; }
    .gridStatus span.newStatus { position: relative; }
    .slideToggleBar { left: 0 }
}
@media only screen and (min-width: 568px) and (max-width: 639px) {
    .PageTitle { float: left; }
    .ActionBttnArea { float: right; }
    .newDescription { margin-top: 15px; }
    .gridStatus span.newStatus { position: relative; }
    .slideToggleBar { left: 0 }
}
@media only screen and (min-width: 480px) and (max-width: 567px) {
    .ActionBttnArea { float: left; margin-top: 8px; }
    #shortDrop { margin-top: 10px; margin-right: 0 !important; }
    .actionBar div.pull-right.marAdjst #shortDrop { margin-top: 0px !important; margin-right:10px !important; }
    .newDescription { margin-top: 15px; }
    .gridStatus span.newStatus { position: relative; }
    .slideToggleBar { left: 0 }
    .updateArea .pull-right { margin-top:10px;}
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
    .ActionBttnArea { float: left; margin-top: 8px; }
    .actionBar div.pull-right { float: left; margin-top: 10px; width:99%; }
    #shortDrop { margin-top: 10px; margin-right: 0 !important; }
    .newDescription { margin-top: 15px; }
    .gridStatus { margin-bottom: 15px; }
    .gridStatus span.newStatus { position: relative; }
    .updateArea ul.filter_apply2 { width: auto !important; }
    .updateArea .pull-right { float: none !important; }
    .slideToggleBar { left: 0 }
    .gridList button.complete, .updateArea button.complete { margin: 0 7px 0 0 !important; width: 49%; }
    .gridList button.btn-blue.wobtngrdcancel, .updateArea button.btn-blue.wobtngrdcancel { width: 48%; }
    .gridList button.btn-blue.wobtngrdschedule, .updateArea button.btn-blue.wobtngrdschedule { width: 100%; margin:7px 0 0 0; }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .ActionBttnArea { float: left; margin-top: 8px; }
    .actionBar div.pull-right { float: left; margin-top: 10px; }
    #shortDrop { margin-top: 10px; margin-right: 0 !important; }
    #liCustomize { margin-top: 10px !important; margin-left: 10px !important; }
    .newDescription { margin-top: 15px; }
    .gridStatus { margin-bottom: 15px; }
    .gridStatus span.newStatus { position: relative; }
    .updateArea ul.filter_apply2 { width: auto !important; }
    .updateArea .pull-right { float: left !important; }
    .slideToggleBar { left: 0 }
    .gridList button.complete, .updateArea button.complete { margin: 0 7px 0 0 !important; width: 48%; }
    .gridList button.btn-blue.wobtngrdcancel, .updateArea button.btn-blue.wobtngrdcancel { width: 48%; }
    .gridList button.btn-blue.wobtngrdschedule, .updateArea button.btn-blue.wobtngrdschedule { width: 100%; margin:7px 0 0 0; }
}
@media only screen and (width:414px) {
    .pull-right.bttnDiv { width:100%; }
    .updateArea .pull-right { float: left !important; }
    .slideToggleBar { left: 0 }
    .gridList button.complete, .updateArea button.complete { margin: 0 7px 0 0 !important; width: 49%; }
    .gridList button.btn-blue.wobtngrdcancel, .updateArea button.btn-blue.wobtngrdcancel { width: 48%; }
    .gridList button.btn-blue.wobtngrdschedule, .updateArea button.btn-blue.wobtngrdschedule { width: 100%; margin:7px 0 0 0; }
}
@media only screen and (width:411px) {
    .updateArea .pull-right { float: left !important; }
    .slideToggleBar { left: 0 }
    .gridList button.complete, .updateArea button.complete { margin: 0 7px 0 0 !important; width: 49%; }
    .gridList button.btn-blue.wobtngrdcancel, .updateArea button.btn-blue.wobtngrdcancel { width: 48%; }
    .gridList button.btn-blue.wobtngrdschedule, .updateArea button.btn-blue.wobtngrdschedule { width: 100%; margin:7px 0 0 0; }
}
/*Custom CSS Scroll*/
div.tblchild-scroll {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    max-height: 300px;
}
div.dataTables_scrollBody {
    max-height: none !important;
}
div.tblchild-scroll::-webkit-scrollbar {
    width: 6px;
}
/* Track */
div.tblchild-scroll::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 25px;
    background-color: #1a3967;
}
/* Handle */
div.tblchild-scroll::-webkit-scrollbar-thumb {
    background: #ebe8f2;
    border-radius: 25px;
}
/* Handle on hover */
div.tblchild-scroll::-webkit-scrollbar-thumb:hover {
    background: #dcdae0;
}

/* Search Page - Search Section New Design CSS */
.searchBttnDrop.desktop { width:500px; }
.searchTips { border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 5px; }
.searchTips div.titleText { font-weight: 500; font-size: 1.02rem; text-transform: initial; color: #575962; display: block; float: left; width:20%; }
.searchTips div.infoText { font-weight: 400; font-size: 1.02rem; text-transform: initial; color: #575962; display: block; float: left; width: 80%; }
.searchBttnDrop.desktop .searchInfo { position:relative; }
.searchBttnDrop.desktop .searchInfo span.recent { width: 20%; }
.searchBttnDrop.desktop .searchInfo span.clear { width:7%; }
.searchBttnDrop.desktop .searchList { width: 73%; float: left; }
.searchBttnDrop.desktop .searchList ul li a i.fa { display:none; }
.searchBttnDrop.desktop .searchList ul li a { display: block; padding: 3px 0; margin-bottom: 0px; }
.searchBttnDrop.desktop .searchList ul li:hover, .searchBttnDrop.desktop .searchList ul li a:hover, .searchBttnDrop.desktop .searchList ul li a:focus { background-color:none; }