.btn-sort .bootstrap-select.btn-group .dropdown-menu li {
    font-family: Roboto;
    float: none !important;
    font-size: 13px;
    color: #7d7d7d;
    margin-right: 0 !important;
    margin-top: 0;
}
.sorting, .sorting_asc, .sorting_desc {
    background: none;
}
.btn-sort ul.dropdown-menu li {
    font-family: Roboto;
    float: none;
    font-size: 13px;
    color: #7d7d7d;
    margin-right: 0px;
    margin-top: 0;
    position: relative;
}
.btn-sort ul.dropdown-menu li a {
        padding: 0.7rem 1.2rem;
}
.btn-sort ul.dropdown-menu li i.fa-arrow-circle-up, .btn-sort ul.dropdown-menu li i.fa-arrow-circle-o-down {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #315a98;
}
.sort-active, .sort-active:hover, .sort-active a:hover {
    background: #264a7c !important;
}
.sort-active a, .sort-active i, .sort-active i:hover {
    color: #fff !important;
}
