/* Daterange Picker CSS Start*/
/*.daterangepicker { width: 545px !important; right: 20px !important; }*/
.daterangepicker .ranges .range_inputs .btn.btn-success { border-color: #1a3967 !important; background: #315a98 !important; }
.daterangepicker .ranges .range_inputs .btn.btn-default { border: 1px solid #1a3967 !important; }
.daterangepicker tbody td.in-range { background: #cce1ff  !important; border-radius: 4px !important; color: #222 !important; }
.daterangepicker tbody td.active.start-date { background: #34bfa3; }
.daterangepicker tbody td.active.end-date { background: #34bfa3 !important; color: #fff !important; }
.daterangepicker tbody td.off.active.end-date, .daterangepicker tbody td.today.off { background-color: #fff !important; border-color: transparent !important; color: #999 !important; }
.daterangepicker tbody td.today, .daterangepicker tbody td.active.today { background: #315a98 !important; color: #fff !important; }
.daterangepicker td.start-date { border-radius: 4px !important; }
.daterangepicker.ltr .ranges { float: right; }
.daterangepicker .ranges .range_inputs .btn { border-radius: 4px; }
.daterangepicker .drp-buttons .btn.btn-primary.applyBtn  { float:right; background-color: #315a98; border-color: #315a98; }
.daterangepicker .drp-buttons .btn.btn-default.cancelBtn { border-color: #315a98; }
.daterangepicker .ranges { padding: 0 10px; margin: 0; }
.daterangepicker .ranges .range_inputs { margin:0 0 5px 0; }
.daterangepicker.ltr .left .daterangepicker_input, .daterangepicker.ltr .right .daterangepicker_input { display:none; } /* Input Display CSS*/
@media only screen and (width:640px) {
    .daterangepicker { width: 545px !important; right: 20px !important; top:0 !important; }
    .daterangepicker.drop-up { margin-top:0 !important; }
}
@media only screen and (max-width: 639px) {
    .daterangepicker { width: auto !important; right: 20px !important; top:0 !important; }
    .daterangepicker.drop-up { margin-top:0 !important; }
}
/* Daterange Picker CSS End*/