.hldDropzone {
    border: 2px dashed #929292;
}

#dropzoneForm {
    width: 100%;
    min-height: 165px;
    border: none;
    background: #F5F5F5;
}


.dz-image {
    box-shadow: 3px 3px 10px !important;
    border-radius: 0px !important;
}

.dz-remove {
    position: absolute;
    right: -7px;
    top: -7px;
    z-index: 99;
    border-radius: 20px;
    border: 0 !important;
    outline: 0;
    background: #ff0000;
    color: #fff !important;
    width: 22px;
    height: 22px;
    box-shadow: 0px 0px 5px #f00;
}

    .dz-remove:hover {
        text-decoration: none !important;
        color: #fff !important;
    }

.dropzone {
    text-align: center !important;
}

    .dropzone .dz-preview .dz-progress .dz-upload {
        background: rgba(0, 0, 0, 1) linear-gradient(to bottom, #f6a00, #f7d00) repeat scroll 0 0;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        transition: width 300ms ease-in-out 0s;
        width: 0;
        opacity: 1;
    }

    .dropzone .dz-preview {
        margin: 10px 15px !important;
    }

    .dropzone .dz-message {
        background: url('../../Scripts/dropzone/dropzoneBg.png') no-repeat 50% 50%;
        height: 150px;
        margin-top: 0px !important;
        background-size: 500px 115px;
    }

        .dropzone .dz-message span {
            display: none;
        }

    .dropzone .dz-preview.dz-image-preview {
        background: none !important;
    }
/* Customize the label (the container) */
.lblrad.container {
    margin: 10% 40% 20% 40%;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default radio button */
    .lblrad.container input {
        position: absolute;
        opacity: 0;
    }

/* Create a custom upload button */
.lnkContainer {
    display: block;
    border: 2px solid #315a98;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 10px auto 0 auto;
    text-align: center;
    line-height: 31px;
}

    .lnkContainer .fa-upload {
        color: #315a98
    }

.zoomContainer {
    z-index: 99 !important;
}

