.lds-ellipsis {
    margin-top: 35px;
}

.notificationTime {
    display: block;
    color: #c95b5a;
}

.closeIcon {
    display: none !important;
}

    .closeIcon .fa {
        font-size: 18px !important;
        color: #ced1d4 !important;
        font-weight: normal !important;
        transition: 0.5s ease !important;
    }

        .closeIcon .fa:hover {
            color: #575962 !important;
        }

.m-list-timeline__item:hover .closeIcon {
    display: block !important;
}

.m-list-timeline__item .m-list-timeline__text {
    padding: 5px 10px !important;
    border: 1px solid #fff !important;
    border-right: 0 !important;
}

.m-list-timeline__item:hover .m-list-timeline__text {
    background: #e9ebee;
    border: 1px solid #dadbde !important;
    border-right: 0 !important;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;
}

.m-list-timeline__item .m-list-timeline__time {
    border: 1px solid #fff !important;
    border-left: 0 !important;
}

.m-list-timeline__item:hover .m-list-timeline__time {
    background: #e9ebee;
    border: 1px solid #dadbde !important;
    border-left: 0 !important;
    border-radius: 0 4px 4px 0;
    transition: 0.3s;
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__time {
    width: 25px !important;
}

.m-list-timeline__items .m-list-timeline__item {
    padding: 0 !important;
    margin: 0 !important;
}

.m-list-timeline .m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge:before {
    background-color: #ced1d4;
}

.m-list-timeline .m-list-timeline__items:before {
    background-color: #ced1d4;
}

.m-list-timeline__items .m-list-timeline__item .m-list-timeline__badge {
    width: 12px !important;
}
#notificationtabcontent .m-scrollable.mCustomScrollbar {
    max-height: 250px !important;
    height: 250px !important;
}
#notificationtabcontent .mCustomScrollBox {
    overflow: hidden !important;
}

#notificationtabcontent {
    min-height: 250px !important;
}

/*.m-tabs-line .m-tabs__item#NotificationMaintenancetab {
    margin-right: 20px !important;
}*/

.m-tabs-line .m-tabs__item#NotificationProcurementtab {
    margin-left: 0 !important;
}

.m-tabs-line #NotificationMaintenancetab .m-tabs__link,
.m-tabs-line #NotificationProcurementtab .m-tabs__link {
    padding: 0 !important;
}

.nav.nav-tabs {
    margin-bottom: 15px;
}

.notification-tab-nav-b {
    display:flex;
}
.notification-tab-nav-b #NotificationProcurementtab .m-tabs__link {
    padding: 0 !important;
}
.notification-tab-nav-b li {
        margin-right: 10px !important;
}

.m-tabs-line .m-tabs__link {
    padding: 0 !important;
}
.notification-tab-nav-b .nav-item.m-tabs__item {
    position: relative;
}

.notification-tab-nav-b .m-badge.m-badge--danger {
    position: absolute;
    top: 0px;
    right: -2px;
}

.m-dropdown__content span.clear {
    display: block;
    overflow: hidden;
    clear: both;
}

#ClearAllNotificationSelectedTab {
    font-size: 10px;
    float: right;
    margin-top: 0px;
    position: relative;
}

.m-list-timeline__text {
    position:relative;
}

#notification-dot {
    position: absolute;
    top: 9px;
    right: 15px;
}
