@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1366px) and (max-width: 1599px)
{
	.m-login.m-login--1 .m-login__wrapper { padding: 0 2rem; }
	.m-login.m-login--1 .m-login__wrapper .m-login__logo { margin: 0 auto 5rem auto; }
	.m-login.m-login--1.m-login--signin .m-login__signin { padding: 50px 80px 30px 80px; }
	.m-form__group.adjust { margin-bottom: 15px !important; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 1rem; }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px)
{
	.m-login.m-login--1 .m-login__wrapper { padding: 0 2rem; }
	.m-login.m-login--1 .m-login__wrapper .m-login__logo { margin: 0 auto 5rem auto; }
    .m-login.m-login--1.m-login--signin .m-login__signin, .m-login.m-login--1.m-login--forget-password .m-login__forget-password { padding: 50px 80px 30px 80px; }
	.m-form__group.adjust { margin-bottom: 15px !important; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 1rem; }
	.m-header-menu .m-menu__nav.m-menu__nav--submenu-arrow > .m-menu__item.m-menu__item--submenu.m-menu__item--hover > .m-menu__submenu { margin-left:-592px; }
	/*.m-login.m-login--1 .m-login__aside { width: 693px !important; }*/
}

@media only screen and (min-width: 1024px) and (max-width: 1199px)
{
	.m-login.m-login--1 .m-login__wrapper { padding: 0 2rem; }
	.m-login.m-login--1 .m-login__wrapper .m-login__logo { margin: 0 auto 5rem auto; }
	.m-login.m-login--1.m-login--signin .m-login__signin { padding: 50px 80px 30px 80px; }
	.m-form__group.adjust { margin-bottom: 15px !important; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 1rem; }
	.m-header-menu .m-menu__nav.m-menu__nav--submenu-arrow > .m-menu__item.m-menu__item--submenu.m-menu__item--hover > .m-menu__submenu { margin-left:-592px; }
	.m-login.m-login--1 .m-login__aside { width: 693px !important; }
}

/*@media only screen and (min-width: 966px) and (max-width: 1023px)
{
}*/

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
	.m-login.m-login--1 .m-login__wrapper { padding: 0 2rem; }
	.m-brand { padding:0; }
	.toggleMenu { border-left: none; width: 170px; line-height: 60px !important; margin-right: 0; }
	.m-stack.m-stack--general.m-stack--ver > .m-stack__item { background:#1a3967; border-bottom:1px solid #fff; }
	.m-login.m-login--1 .m-login__aside { width: 606px !important; }
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 2rem auto 5rem auto !important; }
    .m-stack.m-stack--hor > .m-stack__item { margin-top:20px; }
}

@media only screen and (min-width: 640px) and (max-width: 767px)
{
	/* Galaxy Note3 */
	.m-brand { padding:0; }
	.toggleMenu { border-left: none; width: 170px; line-height: 60px !important; margin-right: 0; }
	.m-stack.m-stack--general.m-stack--ver > .m-stack__item { background:#1a3967; border-bottom:1px solid #fff; }
	.m-login.m-login--1 .m-login__wrapper { padding: 0 0 2rem 0 !important; }
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 0 auto 5rem auto; }
	.m-login.m-login--1.m-login--signin .m-login__signin, 
	.m-login.m-login--1.m-login--forget-password .m-login__forget-password { padding:50px; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 0rem; }
	.m-form__group.adjust { margin-bottom:0px !important; }
	.m-login__signin h2, h3.forgot { font-size:40px !important; }
    .m-login.m-login--1 .m-login__aside { width: 500px !important; }
}

/*@media only screen and (min-width: 603px) and (max-width: 639px)
{
}*/

@media only screen and (min-width: 568px) and (max-width: 639px)
{
	/* For Iphone5 */
	.m-brand { padding:0; }
	.toggleMenu { border-left: none; width: 170px; line-height: 60px !important; margin-right: 0; }
	.m-stack.m-stack--general.m-stack--ver > .m-stack__item { background:#1a3967; border-bottom:1px solid #fff; }
	.m-login.m-login--1 .m-login__wrapper { padding: 0 0 2rem 0 !important; }
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 0 auto 5rem auto; }
	.custom-dropdown { position:relative; width:100%; }
	.custom-dropdown select { width:90%; }
	.m-login__signin h2, h3.forgot { font-size:35px !important; }
	.m-login.m-login--1.m-login--signin .m-login__signin, 
	.m-login.m-login--1.m-login--forget-password .m-login__forget-password { padding:50px; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 0rem; }
	.m-form__group.adjust { margin-bottom:0px !important; }
	#m_login_signin_submit2 { margin-top:15px; }
}

@media only screen and (min-width: 480px) and (max-width: 567px)
{
	.m-brand { padding:0; }
	.toggleMenu { border-left: none; width: 170px; line-height: 60px !important; margin-right: 0; }
	.m-stack.m-stack--general.m-stack--ver > .m-stack__item { background:#1a3967; border-bottom:1px solid #fff; }
	.m-login.m-login--1 .m-login__wrapper { padding: 0 0 2rem 0 !important; }
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 0 auto 5rem auto; }
	.custom-dropdown { position:relative; width:100%; }
	.custom-dropdown select { width:90%; }
	.m-login.m-login--1.m-login--signin .m-login__signin, 
	.m-login.m-login--1.m-login--forget-password .m-login__forget-password { padding:30px; }
	.m-login__signin h2, h3.forgot { font-size:35px !important; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 0rem; }
	.m-form__group.adjust { margin-bottom:0px !important; }
	#m_login_signin_submit2 { margin-top:15px; }
    .m-login.m-login--1 .m-login__aside { width: 400px; }
    #loginForm { padding-top: 30px; }
}

/*@media only screen and (min-width: 460px) and (max-width: 479px)
{
}*/

@media only screen and (min-width: 360px) and (max-width: 479px)
{
	/* Galaxy S5 */
	.newLogo { text-align:left; padding-left:25px; }
	.m-brand { padding:0; }
	.toggleMenu { border-left: none; width: 170px; line-height: 60px !important; margin-right: 0; }
	.m-stack.m-stack--general.m-stack--ver > .m-stack__item { background:#1a3967; border-bottom:1px solid #fff; }
	.m-login.m-login--1 .m-login__wrapper { padding: 0 0 2rem 0 !important; }
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 4rem auto 3rem auto; }
	.custom-dropdown { position:relative; width:100%; }
	.custom-dropdown select { width:88%; }
	.m-login.m-login--1.m-login--signin .m-login__signin, 
	.m-login.m-login--1.m-login--forget-password .m-login__forget-password { padding:30px; }
	.m_login_forget_password_cancel { margin-top:15px; }
	.m-login__signin h2, h3.forgot { font-size:25px !important; }
	#m_login_signin_submit2 { margin-top:15px; }
	.lockIcon { width:60px; height:60px; margin-left:-30px; top: -30px; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 0rem; }
	.m-form__group.adjust { margin-bottom:0px !important; }
	
	.m-login.m-login--1 .m-login__aside { padding: 0rem 3rem 2rem 3rem; }
	.custom-dropdown { position: fixed; width: 100%; top: 0; left: 0px; z-index: 999; background: #0c264a; padding-left: 10px; margin:0; }
	.m-login__logo img { width:60%; }
	#mobileView { display:block; }
	#desktopView { display:none; }
    .lockIcon { width: 60px; height: 60px; margin-left: -30px; top: -30px; }
}

@media only screen and (min-width: 320px) and (max-width: 359px)
{
	.newLogo { text-align:left; padding-left:25px; }
	.m-brand { padding:0; }
	.toggleMenu { border-left: none; width: 170px; line-height: 60px !important; margin-right: 0; }
	.m-stack.m-stack--general.m-stack--ver > .m-stack__item { background:#1a3967; border-bottom:1px solid #fff; }
	.m-login.m-login--1 .m-login__wrapper { padding: 0 0 1rem 0 !important; }
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 4rem auto 3rem auto; }
	.custom-dropdown { position:relative; width:100%; }
	.custom-dropdown select { width:85%; }
	.m-login.m-login--1.m-login--signin .m-login__signin, 
	.m-login.m-login--1.m-login--forget-password .m-login__forget-password { padding:30px 30px 20px; }
	.m_login_forget_password_cancel, .m_login_forget_password_submit { margin-top:15px; }
	.m-login__signin h2, h3.forgot { font-size:20px !important; }
	#m_login_signin_submit2 { margin-top:15px; }
	.lockIcon { width:60px; height:60px; margin-left:-30px; top: -30px; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form { margin-top: 0rem; }
	.m-form__group.adjust { margin-bottom:0px !important; }
	
	.m-login.m-login--1 .m-login__aside { padding: 0rem 3rem 2rem 3rem; }
	.custom-dropdown { position: fixed; width: 100%; top: 0; left: 0px; background: #0c264a; padding-left: 10px; margin:0; }
	.m-login__logo img { width:60%; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-sub { margin-top: 1rem; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action { margin: 0 0 1rem; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form .m-login__form-action .btn { padding: 1rem 3rem; }
	.m-login.m-login--1 .m-login__account .m-login__account-msg { font-size: 11.5px; }
	.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control { padding: 0.5rem 0; }
	
	#mobileView { display:block; }
	#desktopView { display:none; }
}

/*@media only screen and (min-width: 240px) and (max-width: 319px)
{
}*/
@media only screen and (width:1200px) {
	.m-login.m-login--1 .m-login__aside { width: 693px !important; }
}
@media screen and (max-width: 767px) {
	.m-login.m-login--1 .m-login__aside .m-login__wrapper .m-login__logo { margin: 2rem auto 5rem auto !important; }
	.social-btn { width:100% !important; }
}
@media screen and (max-width:479px) {
	.m-login.m-login--1.m-login--signin .m-login__signin { padding: 60px 30px 40px !important; }
	.m-login.m-login--1.m-login--signin .m-login__signin .m--align-center { padding-left: 0; padding-right: 0; }
}
