<div id="AddSanitationJobDashboard" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Sanitation Job</h4>
            </div>

            <div class="modal-body" style="text-align:center;">
                <button type="button" class="btn btn-blue btnRqst" onclick="location.href='@Url.Action("Add", "SanitationJob",new { addfor="Job", addtype="Demand"})';return false;"><i class="fa fa-hand-pointer-o faIcon"></i> &nbsp;Use On-Demand Procedure</button>
                <button type="button" class="btn btn-blue btnRqst" onclick="location.href='@Url.Action("Add", "SanitationJob",new { addfor="Job", addtype="Describe"})';return false;"><i class="fa fa-file-text-o faIcon"></i> &nbsp;Describe What You Need</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>
