@model Client.Models.LocalisationBaseVM

<div id="popupExport">
    <button type="button" class="btn btn-blue" id="liPdf">PDF</button>
    <button type="button" class="btn btn-blue" id="liCsv">CSV</button>
    <button type="button" class="btn btn-blue" id="liExcel">Excel</button>
    <button type="button" class="btn btn-blue" id="liPrint">Print</button>
</div>
<div id="mask" onclick="funcCloseExportbtn()"></div>