@{
    Layout = null;
}

<!DOCTYPE html>
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page Not Found</title>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="shortcut icon" href="~/Scripts/Metronic/assets/login/demo/default/media/img/logo/favicon.png" />
</head>

<body class="bodyBg">
    <div class="timeOutBox">
        <div class="timeOutIcon"><img src="../Content/images/404Icon.png" alt="" /></div>
        <h2 class="title">Not Found</h2>
        <h3 class="subTitle">ERROR !!</h3>
        <h4 class="contentTitle">The page you are looking for can't be found.</h4>
        <div class="m-login__form-action">
            <button id="m_login_signin_submit" class="btnLogin" onclick="location.href='@Url.Action("SomaxLogIn", "Login")'">Login</button>
        </div>
    </div>
</body>
</html>
<link href="~/Content/ex-custom-styles.css" rel="stylesheet" />
