@model Client.Models.Dashboard.DashboardVM
<div id="cancelWOTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close cancel-modal-close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</h4>
            </div>
            <div class="modal-body">
                <ul class="listView nobrd">
                    <li>
                        <span class="label">@Model.Loc.Where(a => a.ResourceId == "spnCancelReason").FirstOrDefault().Value.ToString() : </span>
                        <span class="inputText">
                            @Html.DropDownListFor(m => m.dashboardWoTaskModel.CancelReason, Model.dashboardWoTaskModel.CancelReasonList, "--Select--", new { @class = "form-control search select2picker", style = "width:100%;" })
                        </span>
                    </li>
                </ul>
                <div class="clear"></div>
                <div class="bttns" style="Margin-top:10px;">
                    <button type="button" class="btn btn-default" data-toggle="" data-target="" id="btnWoTaskCancel"><i class="fa fa-close"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalCancel").FirstOrDefault().Value.ToString()</button>
                </div>
                <div class="bttns2" style="Margin-top:10px;">
                    <button type="button" class="btn btn-blue" data-toggle="" data-target="" id="btnWoTaskCancelOk"><i class="fa fa-check"></i> &nbsp;@Model.Loc.Where(a => a.ResourceId == "globalOK").FirstOrDefault().Value.ToString()</button>
                </div>
            </div>
        </div>
    </div>
</div>
