@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.secTitle { font-size: 14px; padding: 10px 0; margin: 0 0 10px 0; border-bottom: 1px solid #e9ecef; }
.box1 { margin-bottom: 15px; }
.countBox { width: 173px; height: 36px; margin: 0 auto; border: 1px solid #ccc; }
ul.levelSize { list-style: none; padding: 0; margin: 0; }
ul.levelSize li { border: 2px solid #ccc; padding: 5px; border-radius: 5px; float: left; width: 49%; margin-right: 2%; }
ul.levelSize li:last-child { margin-right: 0; }
ul.levelSize li:hover { border: 2px solid #315a98; padding: 5px; }
.txtList { float: left; }
.txtList p { padding: 0; margin: 0; line-height: 22px; }
.txtList p.first { color: #000; font-weight: 400; }
.rdoBtn { float: left; margin-right: 10px; position: relative; top: 4px; margin-left: 5px; }
.recommend { margin-top: 20px; }
.recommend p { padding: 0 0 3px 0; margin: 0; }
.prevArea { border: 1px solid #ccc; height: 285px; margin-bottom: 15px; }
.codeArea { border: 1px solid #ccc; height: 75px; }
.updateArea { margin-top: 0; }
.symbol { width: 40px; height: 40px; display: inline-block; margin-right: 10px; border-radius: 50%; flex-shrink: 0; }
.symbol img { width: 100%; height: 100%; border-radius: 50%; }
.dtlsBox { display: inline-block; vertical-align: middle; }
.dtlsBox h2 { padding: 0; margin: 0; font-size: 1.08rem; color: #3f4254 !important; font-weight: 500 !important; }
.dtlsBox p { padding: 0; margin: 0; font-size: 13px; font-weight: 400; color: #949494 !important; }
.dtlsBox p.m-text-green { font-weight: 500 !important; color: #34BFA3 !important; }
.dtlsBox p.m-text-grey { font-weight: 500 !important; color: #949494 !important; }

/*Search Page CSS*/
#EquipmentImportTable_wrapper { margin-bottom: 0; margin-top: 10px; }
@media only screen and (max-width: 1365px) and (min-width: 1200px) {
    #popupExport { right: 100px !important; }
}
@media only screen and (max-width: 767px) and (min-width: 640px) {
    .actionBar div.pull-right { width: 100%; }
}
@media only screen and (max-width: 567px) and (min-width: 480px) {
    #shortDrop { margin-top: 0 !important; margin-right: 10px !important; }
}
@media only screen and (max-width: 479px) and (min-width: 360px) {
    .updateArea { padding: 0; }
}
@media only screen and (max-width: 359px) and (min-width: 320px) {
    .updateArea .pull-right { float: left !important; }
    .BulkUpdate { margin-left: 0 !important; }
    #liCustomize { margin-top: 0 !important; margin-left: 0 !important; }
}
@media only screen and (width:411px) {
    .updateArea { padding: 0; }
}