@model Client.Models.Sanitation.SanitationVM

<div class="tabsArea nobg">
    <div class="m-portlet" id="m_portlet" style="padding:10px;">
        <div class="table-responsive">
            @if (Model.security.SanitationJob_Photos.Access)
            {
                <div id="ImageGrid" style="width:100%">
                    <div class="lds-ellipsis lds-adjust" id="imagedataloader">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    @Html.Partial("/Views/SanitationJob/Mobile/_ImageGrid.cshtml")
                    
                </div>
            }
            </div>
        <div style="clear:both;"></div>
    </div>
</div>