.step-modal-box {
    width: 100%;
    max-width: 1000px;
}




    .step-modal-box .m-portlet {
        margin-bottom: 0px;
    }

    .step-modal-box .m-wizard {
        background-color: #f5f5f5;
    }

        .step-modal-box .m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav .m-wizard__steps {
            margin-top: 0px;
        }

        .step-modal-box .m-wizard__head, .step-modal-box .m-wizard.m-wizard--5 .m-wizard__head {
            margin: 0px;
        }

            .step-modal-box .m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step {
                padding: 0px;
            }

.wizard-wrap-box .m-wizard__step {
    display: block !important;
    width: 100% !important;
}

.wizard-wrap-box .m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav .m-wizard__steps .m-wizard__step .m-wizard__step-info {
    padding: 0px;
}


.m-wizard.m-wizard--5.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current {
    border-bottom: 0px;
}

.wizard-wrap-box .m-wizard__step-seq {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f1faff;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0px !important;
    display: block !important;
}

.wizard-wrap-box .m-wizard__step {
    margin-bottom: 30px !important;
}

.wizard-wrap-box .m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav {
    border: 0;
}

.m-wizard.m-wizard--5 .m-wizard__head .m-wizard__nav {
    border-bottom: 0px;
}

.wizard-wrap-box .m-wizard__step:last-child {
    margin-bottom: 0px !important;
}

.wizard-wrap-box .m-wizard__step-label {
    width: 200px;
    padding: 0 0 0 20px;
}

.wizard-wrap-box .m-wizard__step-info {
    padding-left: 0px !important;
}

.m-wizard__form {
    min-height: 345px;
}

.m-wizard.m-wizard--5.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number .m-wizard__step-seq {
    color: #315a98 !important;
}

.m-wizard.m-wizard--5.m-wizard--success .m-wizard__head .m-wizard__steps .m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number .m-wizard__step-label {
    color: #315a98 !important;
}




.wizard-wrap-box {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 15px 15px;
    width: 100%;
}

.step-modal-box .m-wizard__head {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
}

.m-wizard__form {
    width: calc(100% - 315px);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 0 0 15px;
}

.m-wizard__step-number {
    position: relative;
}

.m-wizard__step-icon {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    display: inline-block !important;
}

a.succes.btn {
    background-color: #61b045 !important;
}

.wizard-wrap-box .btn-warning:not([disabled]):not(.disabled):active {
    background-color: #ebedf2;
    border-color: #ebedf2;
    color: #575962 !important
}


.m-wizard__step .m-wizard__step-info .m-wizard__step-number .m-wizard__step-icon {
    display: none !important;
}

.m-wizard__step.m-wizard__step--current .m-wizard__step-info .m-wizard__step-number .m-wizard__step-icon {
    display: block !important;
    background-color: #fff;
    color: #315a98 !important;
    border: #315a98 1px solid;
    text-align: center !important;
}

.m-wizard__step.m-wizard__step--done .m-wizard__step-info .m-wizard__step-number .m-wizard__step-icon {
    display: block !important;
    background-color: #315a98;
    color: #fff !important;
    border: #315a98 1px solid;
    text-align: center !important;
}

.m-portlet .m-portlet__foot.m-portlet__foot--fit {
    padding: 20px 0px 0px;
}

.m-portlet {
    box-shadow: 0px 1px 15px 1px rgb(244 243 247 / 8%);
}

.modal-info .m-portlet__body {
    padding: 0px !important;
}

.modal-info ul.listView.nobrd {
    border-bottom: 0px !important;
}

.modal-info .newPort {
    padding: 0px;
}

.success-alert {
    width: 100%;
    text-align: center;
    color: #34bfa3 !important;
    font-size: 20px !important;
}

.modal-info .m-wizard__form-step .inputText {
    width: calc(100% - 66px) !important;
    /*margin: 0 auto 20px;*/
}

button.btn.succes {
    background: #34bfa3 !important;
    color: #fff !important;
    border: 1px solid #34bfa3 !important;
}

    button.btn.succes:hover {
        background: #1f917a !important;
        color: #fff !important;
        border: 1px solid #1f917a !important;
    }

#FinalStep .m-form__group--sm .col-xl-12 {
    text-align: center;
    font-size: 20px;
    display: block;
    color: #34bfa3 !important;
}
