<div id="QrCodeDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:400px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">QRCode</h4>
            </div>
            <div class="modal-body">
                <div id="divQrCodeDetail"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>