li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#m_portlet.inputText.instruction-content ol, #m_portlet .inputText.instruction-content ul, #m_portlet .inputText.instruction-content dl {
    margin-top: 0;
    padding-bottom: 1rem !important;
}


#completevsschedulechartdiv {
    width: 100%;
    height: 500px;
}
.chartBox {
    margin-top: 15px;
}
.chartBox.nomar {
    margin-top: 0;
}
.cntNoData {
    display: none;
    text-align: center;
}
.cntNoWOTypData {
    padding: 38% 0 0 38%;
    display: none;
}
.cntNoWOCvsSData {
    padding: 38% 0 0 38%;
    display: none;
}
.space {
    padding-right: 10px;
}
.status {
    float: right;
    text-transform: uppercase;
}
.status a {
    color: #716aca !important;
    font-weight: 600 !important;
}
.lineChart {
    left: 2.2rem;
    right: 2.2rem;
    top: 85px;
}
.chart-legend li span {
    display: block;
    width: 40px;
    margin-bottom: 3px;
    border-radius: 7px;
    height: 6px;
    margin-right: 5px;
}
.chart-legend {
    height: 250px;
    overflow: auto;
}
.chart-legend li {
    margin-bottom: 15px;
}
.band-Legend {
    height: 115px;
    overflow: auto;
    width: 250px;
}
.chartcontainer, .legendcontainer {
    width: 100%;
    float: none;
}
#m_chart_WO_SRC-legend.chart-legend {
    height: 90px !important;
    margin-top: 15px !important;
    margin-left:15px;
}
#m_chart_WO_SRC-legend.chart-legend li {
    float: left;
    width: 145px;
}
#m_chart_WO_BCK_LOG-legend.chart-legend {
    height: 42px /*!important*/;
    margin: -40px auto 14px;
    overflow: hidden;
}
#m_chart_WO_BCK_LOG-legend.chart-legend li {
    float: left !important;
    width: 133px !important;
    margin-right: 35px !important;
    margin-left: 0 !important;
}
#m_chart_WO_BCK_LOG-legend.chart-legend li:last-child {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#m_chart_WO_BCK_LOG {
    width: 82% !important;
    margin-left: 11% !important;
}
#m_chart_WO_BCK_LOG-legend.chart-legend {
    margin: 0px auto 14px !important;
}
#js-legend.chart-legend {
    height: 95px !important;
    margin-left: 19px !important;
    margin-top:9px;
}
#js-legend.chart-legend ul {
    height: auto !important;
    margin-top: 20px !important;
}
#js-legend.chart-legend li {
    margin-bottom: 15px !important;
    float: left !important;
    margin-right: 14px !important;
}
#m_chart_OpenWorkOrder {
    height: 321px !important;
}
#m_chart_Inv_Val {
    height: 250px !important;
}
#m_chart_WO_SRC {
    height: 255px !important;
}
    #m_chart_OverDuPm {
    height: 199px !important;
}
#m_chart_LowParts{
    height:252px!important;
}
#m_chart_WO_BCK_LOG{
    height:175px !important;
}
#chartdiv {
    height: 250px !important;
}
#workordersourcechartdiv {
    height: 250px !important;
}
#m_chart_Labor_Hr {
    height: 375px !important;
    position: relative;
    top: 10px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    margin-right: 10px;
    float:left;
}
#js-legendPrio.chart-legend {
    height: 95px !important;
    margin-left: 19px !important;
    margin-top: 9px;
}
#js-legendPrio.chart-legend ul {
    height: auto !important;
    margin-top: 20px !important;
}

#js-legendPrio.chart-legend li {
    margin-bottom: 15px !important;
    float: left !important;
    width:50%;
}
.sparklineArea {
    padding: 10px;
}
.sparklineArea h2 {
    padding: 10px 10px 0 10px;
    margin: 0;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #fff;
}
.sparklineArea h2.hoverClass:hover {
    color: #1a3967;
    cursor:pointer;
}
.sparklineArea h3 {
    padding: 0 10px 10px;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
    width: 100%;
    color: #fff;
}
.sparklineArea h3.hoverClass:hover {
    color: #1a3967;
    cursor:pointer;
}

.sparklineArea .firstBox {
    background: #716aca;
    min-height: 135px;
}
.sparklineArea .secondBox {
    background: #34bdcd;
    min-height: 135px;
}
.sparklineArea .thirdBox {
    background: #e48988;
    min-height: 135px;
}
.sparklineArea .forthBox {
    background: #ffb822;
    min-height: 135px;
}
/*Fleet Only*/
    .sparklineArea .redBoxFleetOnly {
        background: #fe0000;
        min-height: 135px;
    }
    .sparklineArea .purpleBoxFleetOnly {
        background: #6B0292;
        min-height: 135px;
    }
    .sparklineArea .greenBoxFleetOnly {
        background: #00bd3f;
        min-height: 135px;
    }

#m_chart_SO_BCK_LOG {
    height: 175px !important;
}
#m_chart_SO_BCK_LOG-legend.chart-legend {
    height: 42px /*!important*/;
    margin: -40px auto 14px;
    overflow: hidden;
}

    #m_chart_SO_BCK_LOG-legend.chart-legend li {
        float: left !important;
        width: 133px !important;
        margin-right: 35px !important;
        margin-left: 0 !important;
    }

        #m_chart_SO_BCK_LOG-legend.chart-legend li:last-child {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

#m_chart_SO_BCK_LOG {
    width: 82% !important;
    margin-left: 11% !important;
}

#m_chart_SO_BCK_LOG-legend.chart-legend {
    margin: 0px auto 14px !important;
}
/*Fleet Only*/

.sparklineGraph {
    height: 54px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #fff;
}
canvas.sparklinecanvas {
    height: 54px !important;
    width: 90% !important;
    margin: 0 auto;
}
.lds-ellipsis.lds-adjust.spline-loader {
    margin-top: -30px;
}
.cntNoData h6 {
    font-size: 1rem;
    padding-top: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #f2f3f8;
}
#EventCountbyFaultCode{
    height:250px !important;
}
#maintenancelaborhourchart {
    height: 375px !important;
    position: relative;
    top: 10px;
}


@media (max-width: 1100px) {

    .form-control.search.select2picker {
        width: 100% !important;
    }
}