/*Sweta*/
.no-border-bottom {
    border-bottom: none !important;
}

.instruction-content li {
    border-bottom: none !important;
    list-style: inherit;
    padding-top: 0px;
    height: auto !important;
}

.instruction-content h3 {
    font-size: 1.7rem;
}

.instruction-content ul, .instruction-content ol {
    padding-left: 40px;
}

.instruction-content {
    font-family: sans-serif, Arial;
    margin: 15px 10px 0px 0px;
    background-color: #f7f7f7;
    padding: 15px;
    line-height: normal !important;
    width: 100% !important;
    height: auto !important;
    border: 1px solid #f7f7f7;
    min-height: 200px;
}

#m_portlet.inputText.instruction-content ol, #m_portlet .inputText.instruction-content ul, #m_portlet .inputText.instruction-content dl {
    margin-top: 0;
    padding-bottom: 1rem !important;
}

#m_portlet .instruction-content h1, #m_portlet .instruction-content h2, #m_portlet .instruction-content h3, #m_portlet .instruction-content h4, #m_portlet .instruction-content h5, #m_portlet .instruction-content h6 {
    margin-bottom: 0.5 rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.no-border-bottom .tablinks {
    margin-bottom: 0px;
}

.QRmodal {
    z-index: 9999 !important;
}

.QRmodal-content {
    max-height: 100%;
}

.qr-cam-button {
    float: right;
    margin-right: 0 !important;
    border: none;
}

.Qrmodal-body {
    max-height: 100%;
    overflow-y: auto;
}

.QRmodal-header {
    padding: 0 !important;
}

button.wo-det-tab.active {
    cursor: text;
}
/*Sweta*/
/*Anil*/
#compsearchBttnNewDrop {
    right: auto;
    left: 345px !important;
}

/*.table-responsive {
    overflow-y: hidden !important;
}*/

.assignedFName {
    display:inline;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.tooltipcards {
    background: #d0e8fa;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: auto;
    left: 0;
    top: 21px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    z-index: 9;
    display: none !important;
    cursor: pointer;
    white-space: normal;
}

.assignedItem {
    position: relative;
}
/*Anil*/
/*Vicky */

.pushDiv2.WOScheduleAdjust {
    height: 161px !important;
}

.gridList:hover {
    background: #fff;
}

.filterDescription {
    width: auto;
    float: left;
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    line-height: 33px;
}

    .filterDescription a {
        color: #36a3f7;
        text-decoration: none !important;
    }

#commentsList.mCustomScrollbar {
    height: auto !important;
    min-height: 1px !important;
    max-height: 440px !important;
    overflow: hidden !important;
}

.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #e2e5ec !important;
}

#commentsdataloader.lds-ellipsi {
    top: 17%;
    margin-top: 0;
    z-index: 9;
}

.lds-ellipsis.lds-adjust {
    margin-top: -60px !important;
}



.m-portlet.padAdjstNew .m-portlet__head-caption {
    padding: 0px 20px;
}


.m-portlet.padAdjstNew .m-portlet__body {
    padding: 15px 5px;
}

.m-portlet.padAdjstNew .kt-notes {
    padding: 0px 10px 15px !important;
}


/*Vicky*/


@media (max-width: 767px) {
    #compsearchBttnNewDrop {
        right: auto !important;
        left: 0px !important;
        top: 50px !important;
    }
}

@media (max-width: 650px) {
    #compsearchBttnNewDrop {
        top: 125px !important;
    }
}
