@model Client.Models.Configuration.ApprovalGroups.ApprovalGroupsVM
@{
    Layout = null;
}
<table id="" dt-options="dtOptions" class="ApprovalGroupsinnerDataTable childtable cell-border" style="width:100%">
    <thead>
        <tr>
            <th>@Model.Loc.Where(l => l.ResourceId=="globalApprover").FirstOrDefault().Value.ToString()</th>
            <th>@Model.Loc.Where(l => l.ResourceId=="globallevel").FirstOrDefault().Value.ToString()</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.listLineItem.Count > 0)
        {
            foreach (var pro in Model.listLineItem)
            {
                <tr>
                    <td>@pro.Approver</td>
                    <td>@pro.Level</td>
                </tr>
            }
        }
    </tbody>
    @*<tfoot>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </tfoot>*@

</table>

<style type="text/css">
    .childtable tr th {
        background: #4da5fe;
        color: #fff !important;
        white-space: nowrap !important;
        text-align: center !important;
        font-weight: 400 !important;
    }

    .link {
        color: #235ddd;
    }

        .link:hover {
            color: #32bf0e;
        }

    .nolink {
        pointer-events: none;
        color: #91a0a0;
    }

    table.dataTable thead .sorting {
        padding-right: 15px;
    }

    table.dataTable thead .sorting_asc {
        padding-right: 15px;
    }

    table.dataTable.display tbody tr:first-child td {
        width: 1%;
    }
</style>
