@model Client.Models.EquipmentCombined



<div class="slide-modal" id="equipmentdetaildesmodal">
    <div class="slide-modal-head">
        <a class="slide-back-btn" id="equipmentdetaildesmodalHide"> <i class="fa fa-angle-left"></i> Back</a>
        <div class="slide-back-title summarydescriptionmodaltitle">
            <span id="summarydescriptionmodaltitle"></span>
        </div>
    </div>
    <div class="slide-modal-body" style="text-align:center;">
        <span id="equipmentdetaildesmodaltext"></span>
    </div>
</div>

