
.tree-option .btn.btn-blue.mobBttn, .three-col-option .btn.btn-blue.mobBttn {
    width: 40px;
}

.treebox {
    margin-right: 5px;
    margin-left: 5px;
}
.m-left {
    margin-left:5px;
}
.no-y-scroll {
    overflow-y: unset;
}

.input-group-btn.qr-scr-adj #btnQrScanner {
    margin: 0px 0 0px 10px;
}

  
ul.listView.nobrd.rt-part .select2-selection__arrow {
    height:5px;
}

.modal-content.modal-fx {
    max-width: 100% !important;
   width: 100% !important;
}

.qr-bt {
    margin-left: 5px;
    margin-top: 2px;
}


@media(min-width: 768px) {
    .tree-x-option .fa.fa-tree.chargeTree.TreeAdjustNew {
        display: block;
        position: relative;
        width: 35px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        z-index: 2;
        top:2px !important;
        left:5px !important;
    }
    .tree-x-option .tree-full {
        position: relative;
        z-index: 99;
    }

    .tree-x-option.work-order-tree {
        width:100% !important;
        margin: 0 0px 0 0;
    }
}



@media(max-width: 767px) {
        /* Galaxy S5 */
        /* global input search tree Qrcode mobile design 9.1.2022 start */

    .qr-bt .mobBttn {
        margin-bottom: 0px !important;
    }

    .qr-bt.tree-block-box {
        margin: 10px 0px 0px !important;
    }



    .treebox {
        margin-right: 0px;
        margin-left: 0px;
    }

        .three-col-option {
            width: calc(100% - 0px) !important;
            display: block !important;
        }

        .m-left {
            margin-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .three-col-option .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
        }

            .three-col-option .input-group .form-control {
                flex: none;
                width: calc(100% - 43px);
            }

        .three-col-option .input-group-btn:last-child {
            width: 100% !important;
        }

        .three-col-option .btn.btn-blue.mobBttn {
            margin-bottom: 0px !important;
            margin-left: 0px !important;
            position: relative;
            width: 100%;
        }

        .three-col-option .fa.fa-tree.chargeTree {
            border: 1px solid #b9c1c4;
            width: 100%;
            right: 0px !important;
            margin-bottom: 5px;
            border-radius: 0.25rem;
        }



        .tree-option {
            width: calc(100% - 0px) !important;
            display: block !important;
        }

            .tree-option .input-group {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                width: 100%;
            }

            .tree-option .form-control.search.dropbtn.readonly {
                width: calc(100% - 45px) !important;
            }

            .tree-option .treebox {
                border: 1px solid #b9c1c4;
                width: 100% !important;
                right: 0px !important;
                margin-bottom: 5px;
                margin-top: 12px;
                border-radius: 0.25rem;
            }

            .tree-option .input-group:last-child {
                width: 100% !important;
                left: 0px !important;
                position: relative;
            }

            .tree-option .input-group .input-group-btn:last-child {
                width: 100% !important;
                position: relative;
                left: 0px;
            }

            .tree-option .input-group-btn .btn.btn-blue.mobBttn {
                width: 100% !important;
            }


            .tree-option #ChargeToClientLookupId.form-control.search.dropbtn.readonly {
                width: calc(100% - 85px) !important;
            }

            .tree-option .btntxtInputGroup {
                margin-top: 1px !important;
            }


            

    .idBttns .bttn_pagin .bttns2 .btn.btn-blue {
        float: none;
        width: 100%;
        margin-bottom: 5px;
    }

        #RequestCharge .input-group.work-order-tree {
            width: 100%;
            margin: 0 0px 0 0;
        }

        #RequestCharge .input-group .input-group-btn.qr-btn {
            width: 100% !important;
            margin: 10px 0px;
        }

        #RequestCharge .input-group .btn.btn-blue.mobBttn.qr-adj {
            width: 100% !important;
            margin: 2px 0 0 0px !important;
        }

        #RequestCharge .input-group-btn.tree-btn {
            width: 100% !important;
            position: relative;
        }

        #RequestCharge #ChargeToId {
            width: calc(100% - 48px);
        }

        #RequestCharge .chargeTree.TreeAdjustNew {
            width: 100% !important;
            position: relative;
            left: 0px;
            top: 0px;
            border: 1px solid #b9c1c4;
            margin-bottom: 5px !important;
            border-radius: 0.25rem;
            padding: 8px;
            text-align: center;
        }

        #RequestCharge .input-group-btn.tree-btn {
            width: 100% !important;
        }

        .search-grp #ChargeToClientLookupId {
            width: calc(100% - 80px);
        }

        .search-grp .input-group .input-group-btn.qr-btn {
            width: 40px !important;
            margin: 5px 0 5px 0px !important;
        }

        .input-group-btn.qr-scan-gp {
            width: 100%;
            margin: 10px 0 0 0 !important;
        }

        .treebox #imgChargeToTree {
            text-align: center;
            right: 0px !important;
        }

        .qr-scan-gp .btn.btn-blue.mobBttn {
            margin-bottom: 0px !important;
            margin-left: 0px !important;
        }

        #openemerwogrid {
            margin-top: 0px !important;
        }


        .tree-box .form-control.search.dropbtn.readonly {
            width: calc(100% - 48px);
        }

        .tree-box .input-group.work-order-tree {
            width: 100%;
            margin: 0px;
        }

        .tree-box .fa.fa-tree.chargeTree.TreeAdjustNew {
            position: relative;
            top: 0;
            right: 0;
            margin: 10px 0 0 0 !important;
            border: 1px solid #b9c1c4;
            margin-bottom: 5px !important;
            border-radius: 0.25rem;
            padding: 8px;
            text-align: center;
            width: 100%;
        }

        .input-group-btn.tree-full {
            width: 100%;
        }

        .list-module .treebox i, .tree-option .btn.btn-blue.mobBttn {
            margin-left: 0px !important;
        }

        #AddDescribeWOModalpopup .list-module li .mobBttn {
            margin-top: 0px !important;
        }

        .tree-option-block {
            width: 100% !important;
            margin: 0px;
        }

        .tree-block-box {
            width: 100% !important;
            margin: 10px 0px;
        }

            .tree-block-box .chargeTree {
                width: 100% !important;
                position: relative;
                left: 0px;
                top: 0px;
                border: 1px solid #b9c1c4;
                margin-bottom: 5px !important;
                border-radius: 0.25rem;
                padding: 8px;
                text-align: center;
            }

        .tree-option-block .btntxtInputGroup {
            margin-top: 0px !important;
        }

        .tree-option-block .OpenAssetModalPopupGrid {
            height: 35px;
            position: relative;
            top: -1px;
        }
    
        /* global input search tree Qrcode mobile design 9.1.2022 end */
    }

    @media only screen and (max-width: 1023px) {
        ul.listView.nobrd li {
            justify-content: flex-start;
        }

        .search-feild .inputText.wthAdjst2 {
            position: relative;
            left: -5px;
        }
    }

@media only screen and (min-width: 768px){

    .opt-btn-box {
        width: calc(100% - 296px) !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    ul.listView.tree-rt-adj li span.inputText {
        width: calc(100% - 296px) !important;
    }

    ul.listView.tree-rt-adj li.search-feild .inputText.wthAdjst2.tree-sub-adj {
        left: 0px !important;
        width: calc(100% - 50px) !important;
    }

    ul.listView.tree-rt-adj li.qr-rt-adj .inputText.wthAdjst2.tree-sub-adj {
        left: 0px !important;
        width: calc(100% - 50px) !important;
    }

    ul.listView.tree-rt-adj li span.label {
        width: 296px !important;
    }

    .inpt-rt-adj {
        position: relative;
        left: -1px;
    }

    ul.listView.tree-rt-adj .chargeTree {
        position: relative;
        top: 0;
        right: -6px !important;
        margin: 0px 0 0 5px !important;
        border-radius: 0.25rem;
        padding: 8px;
        text-align: center;
        width: 35px !important;
        display: block;
    }

    /*New stractur for Tree or Qr box*/
    .n-cust-li .n-cust-row {
        width:calc(100% - 30%) !important;
        display:flex;
        align-items:center;
    }
    .n-cust-li .n-cust-row .inputText.wthAdjstNew2 {
        width: calc(100% - 40px) !important;
    }

    .n-cust-li .n-cust-row .chargeTree {
        right: 0px;
        top: 0px !important;
        left: 0px;
        position: relative;
        width: 35px;
        height: 32px;
        line-height: 32px;
        margin-left: 10px;
        text-align: center;
    }

    .n-cust-ul .label {
        width:30% !important;
    }

    ul.listView.n-cust-ul li span.inputText {
        width: calc(100% - 30%) !important;
    }

    /*New stractur for Tree or Qr box*/
}