@model Client.Models.PurchaseOrder.PurchaseOrderVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body style="padding:0; margin:0; font-family: 'Roboto', sans-serif; font-size:14px; color:#737272;">
    <table width="1000" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
            <td align="center" valign="top" height="50" style="background:#111; color:#686868; line-height:50px;">&copy; @Model.Loc.Where(a => a.ResourceId == "spnCopyRights").FirstOrDefault().Value.ToString()</td>
        </tr>
    </table>
</body>
</html>
