<div id="returnTorequesterSearchModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@UtilityFunction.GetMessageFromResource("spnPRBackToRequester", LocalizeResourceSetConstants.PurchaseRequest)</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Line" id="lblLine">@UtilityFunction.GetMessageFromResource("spnPdReturnComments", LocalizeResourceSetConstants.PurchaseRequest) <small>*</small></label>
                    <textarea class="form-control search" id="txtPurchaseRequestbackcomments"></textarea>
                </div>
            </div>
            <div class="modal-footer" style="padding:15px 25px !important;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close faIcon"></i> &nbsp; @UtilityFunction.GetMessageFromResource("globalCancel", LocalizeResourceSetConstants.Global)</button>
                <button type="button" class="btn btn-blue" style="float:right;" id="btnreturntorequesterSearch"><i class="fa fa-check faIcon"></i> &nbsp;@UtilityFunction.GetMessageFromResource("globalOK", LocalizeResourceSetConstants.Global)</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

</div>

