<div id="barCodeDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">BarCode</h4>
            </div>
            <div class="modal-body">
                <div id="divBarCodeDetail" style="text-align: center;">
                    <svg id="wocode39barcode" style="max-width: 100%;"></svg>
                </div>
            </div>
            
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
