
@using Client.Models.Dashboard
@model ScrollViewModel<PartCategoryMasterScrollViewModel>
<ul id="PartCategoryMasterListViewForSearch" class="mbsc-cloak" mbsc-enhance>
</ul>
<div class="mbsc-padding" mbsc-form>
    <button mbsc-button id="btnPartCategoryMasterLoadMore" class="btn btn-blue mobBttn" data-color="success">Load More</button>
</div>
