<div class="slide-modal" id="SJEquipmentModal">
    <div class="slide-modal-head">
        <a class="slide-back-btn " id="SJEquipmentModalHide"> <i class="fa fa-angle-left"></i> Back</a>
        <div class="slide-back-title">
            @UtilityFunction.GetMessageFromResource("GlobalSelectEquipment", LocalizeResourceSetConstants.Global)
        </div>
    </div>
    <div class="slide-modal-body">
        <div class="form-group" style="position:relative;">
            <i class="fa fa-search txtSearchClickCompEquipment" style="font-size: 1.1rem;position: absolute;top: 9px;left: 15px;"></i>
            <a href="javascript:void(0)"><i class="fa fa-close clearTextBoxValue" data-txtboxid="txtEquipmentWRSSearch_Mobile" style="font-size: 1.1rem;position: absolute;top: 9px;right: 15px;"></i></a>
            <input type="search" id="txtEquipmentWRSSearch_Mobile" class="form-control search unsortable" placeholder="Search..." style="padding: 0.65rem 2.75rem;" autocomplete="off">
        </div>
        <div id="DivEquipmentSearchScrollViewModal">
            <ul id="AssetListViewForSearch" class="mbsc-cloak" mbsc-enhance>
            </ul>
            <div class="mbsc-padding" mbsc-form>
                <button mbsc-button id="btnAssetLoadMore" class="btn btn-blue mobBttn" data-color="success">Load More</button>
            </div>
        </div>
    </div>
</div>
