.recentReportsBlock {
    padding: 12px 10px;
    margin: 0 -5px;
    padding-top: 0;
}
.recentReportsBox {
    padding: 10px;
    background: #b6ff00;
    width: 19%;
    margin: 0 0.5%;
    position: relative;
    cursor:pointer;
}
.recentReportsBox.firstBox {
    /*background: #716aca;*/
    background: #fff;
    box-shadow: 1px 1px 10px 2px #d9dadb !important;
}
.recentReportsBox.secondBox {
    /*background: #e48988;*/
    background: #fff;
    box-shadow: 1px 1px 10px 2px #d9dadb !important;
}
.recentReportsBox.thirdBox {
    /*background: #34bdcd;*/
    background: #fff;
    box-shadow: 1px 1px 10px 2px #d9dadb !important;
}
.recentReportsBox.forthBox {
    /*background: #ffb822;*/
    background: #fff;
    box-shadow: 1px 1px 10px 2px #d9dadb !important;
}
.recentReportsBox.fifthBox {
    /*background: #8bc34a;*/
    background: #fff;
    box-shadow: 1px 1px 10px 2px #d9dadb !important;
}
.recentReportsBox h2 {
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    width: 100%;
    color: #616161;

    max-width: 27ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recentReportsBox h2 a, 
.recentReportsBox h2 a:hover {
    /*color: #fff;*/
    text-decoration:none;
}
.recentReportsBox h3 {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #616161;

    max-width: 30ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.descriptionPopup {
    background: #fff;
    position: absolute;
    width: 100%;
    min-height: 84px;
    left: 0;
    top: 0;
    z-index: 9;
    padding: 10px;
    box-shadow: 0 0 10px #bbbbbb;
    display: none;
}
.descriptionPopup.left {
    right: 100%;
    left: auto;
}
.descriptionPopup h2 {
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 500;
    max-width: 60ch;
    white-space: pre-wrap;
}
.descriptionPopup h3 {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    max-width: 1500ch;
    white-space: pre-wrap;
    line-height: 18px;
}
.RightList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.RightList li {
    margin-bottom: 10px;
}
.RightList li:last-child {
    margin-bottom: 0;
}
a.rates {
    width: 27px;
    height: 27px;
    float: left;
    background: #264a7c;
    display: block;
    border-radius: 50%;
    margin: 15px 0;
    position: relative;
    cursor: pointer;
}
a.rates:before {
    content: "\f005";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 6px;
}
a.rates:hover:before, a.rates.current:before {
    color: #FFDF00;
}
.openMenu .TabDetails {
    background: #ebe8f2;
    width: 96%;
    padding: 10px;
    float: right;
    cursor:pointer;
}
.closeMenu .TabDetails {
    background: #ebe8f2;
    width: 96.6%;
    padding: 10px;
    float: right;
    cursor: pointer;
}
.TabDetails h2 {
    padding: 0 0 3px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #000;
}
.TabDetails h3 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    width: 100%;
    color: #464646;
}
.recentReportsBlock h3.title {
    padding: 8px 6px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    width: 100%;
    color: #3f4047;
    font-family: Roboto;
}
.sideMenuArea ul.vtabs li.favorites a {
    background: #34bdcd;
    border-left: 2px solid #126973;
    color: #fff;
}
#norecords {
    min-height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 16px;
    font-weight: 400;
    background: #e9ebee;
}
tr.group,
tr.group:hover {
    background-color: #83cad0 !important;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.eqpDtlTbl.dataTable thead th.text-left {
    text-align: left !important;
}
.eqpDtlTbl.dataTable thead th.text-right {
    text-align: right !important;
}
#popupExport {
    top: 102px;
    right: 15px;
}
.modal .modal-content .modal-header .close {
    position: absolute;
    right: 9px;
    top: 13px;
}
.modal .modal-content .modal-footer {
    display:block;
    padding:15px 25px !important;
}
.popupInfo {
    border: 1px solid #b6bec1;
    margin-bottom: 10px;
    float: left;
    line-height: 28px;
    padding: 0 45px 0 10px;
    position: relative;
    border-radius: 0.25rem;
}
.popupInfo .form-group, .popupInfo label {
    margin-bottom:0;
}
.popupInfo label strong {
    font-weight:500;
    color: #696969;
}
a.popupInfoEdit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px 0 10px;
    background: #b6bec1;
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0 0.15rem 0.15rem 0;
}
a.popupInfoEdit:hover {
    background: #315a98;
    color: #fff;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    height: auto !important;
}
ul.popupInfoList {
    list-style:none;
    padding:0;
    margin:0;
    float:left;
}
ul.popupInfoList li {
    float:left;
    padding-right:5px;
}
ul.popupInfoList li.dividers {
    padding: 0 7px 0 2px;
}
ul.popupInfoList li strong {
    font-weight: 500;
    color: #696969;
}
.recentReportsBox h2.hoverClass:hover, .recentReportsBox h3.hoverClass:hover {
    color: #1a3967;
    cursor: pointer;
}
h2.mod-body-h2 {
    color: #222;
    max-width: inherit;
    white-space: normal;
    overflow: visible;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
}
h3.mod-body-h3 {
    color: #464646;
    max-width: inherit;
    white-space: normal;
    overflow: visible;
    line-height: 22px;
    font-size: 1rem;
    font-weight: 400;
}
table.dataTable.row-border tbody td {
    border-bottom: 1px solid #ddd !important;
    border-top: 0 !important;
}
#tblreport.dataTable tfoot th, table.dataTable tfoot td {
    border-top: none !important;
}
#tblreport tfoot tr th {
    color: #575962 !important;
    text-align: right !important;
    padding: 8px 10px !important;
}
/*Responsive CSS*/
@media only screen and (min-width: 1360px) and (max-width: 1599px) {
    .openMenu .TabDetails { width: 94.8%; }
    .closeMenu .TabDetails { width: 95.7%; }
}
@media only screen and (min-width: 1200px) and (max-width: 1359px) {
    .recentReportsBox h2 { font-size: 17px; }
    .openMenu .TabDetails { width: 93.7%; }
    .closeMenu .TabDetails { width: 94.9%; }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .recentReportsBox { width: 49%; margin-bottom: 10px; }
    .recentReportsBox.fifthBox { margin-bottom: 0px; }
    .openMenu .TabDetails { width: 94.3%; }
    .closeMenu .TabDetails { width: 95.6%; }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .recentReportsBox { width: 48.6%; margin: 0 0.7%; margin-bottom: 10px; }
    .recentReportsBox.fifthBox { margin-bottom: 0px; }
    .TabDetails { background: #ebe8f2; width: 94.2%; padding: 10px; float: right; }
    .PageTitle { float: left !important; }
    .NewBreadcrumbArea { float: left !important; }
    .separator { border-right: 1px solid #ccc; margin-right: 12px; }
    .m-subheader .m-subheader__title { padding: 7px 12px 7px 0; }
    #popupExport { left: auto !important; top: 116px !important; right: 21px !important; bottom: auto !important; margin-left: 0 !important; margin-top: 0 !important; }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .recentReportsBox { width: 48.4%; margin: 0 0.8%; margin-bottom: 10px; }
    .recentReportsBox.fifthBox { margin-bottom: 0px; }
    .TabDetails { background: #ebe8f2; width: 92.8%; padding: 10px; float: right; }
    .ActionBttnArea { float:left; }
    #popupExport { left: 20px !important; top: 169px !important; right: auto !important; bottom: auto !important; margin-left: 0 !important; margin-top: 0 !important; }
}
@media only screen and (min-width: 568px) and (max-width: 639px) {
    .recentReportsBox { width: 48.2%; margin: 0 0.9%; margin-bottom: 10px; }
    .recentReportsBox.fifthBox { margin-bottom: 0px; }
    .TabDetails { background: #ebe8f2; width: 91.6%; padding: 10px; float: right; }
    .ActionBttnArea { float:left; }
    #popupExport { left: 20px !important; top: 169px !important; right: auto !important; bottom: auto !important; margin-left: 0 !important; margin-top: 0 !important; }
}
@media only screen and (max-width: 567px) {
    .recentReportsBox { width: 100%; margin: 0 5px; margin-bottom: 10px; }
    .recentReportsBox.fifthBox { margin-bottom: 0px; }
    a.rates { height: 57px; float: none; background: none; display: block; border-radius: 0; margin: 0; position: absolute; cursor: pointer; }
    a.rates:before { top: 16px; }
    .TabDetails { background: #ebe8f2; width: 100%; padding: 10px; float: none; border-left: 27px solid #264a7c; }
    .TabDetails h3 { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
    .ActionBttnArea { float:left; }
    #popupExport { left: 20px !important; top: 169px !important; right: auto !important; bottom: auto !important; margin-left: 0 !important; margin-top: 0 !important; }
}
@media only screen and (max-width: 375px) {
    .TabDetails h2 { font-size: 16px; }
    .recentReportsBox h3 { max-width: 28ch; }
    .ActionBttnArea { float:left; }
    #popupExport { left: 20px !important; top: 169px !important; right: auto !important; bottom: auto !important; margin-left: 0 !important; margin-top: 0 !important; }
}

/* From page css*/
.popupInfo { padding: 3px 45px 2px 10px; }
a.popupInfoEdit { padding: 3px 8px 2px 10px; }
.tagTo { margin-top: 10px; }
#popupExport { top: 159px; right: 30px !important; }
ul.listView.nobrd li span.inputText input[type="radio"] { margin-right: 5px; margin-left: 10px; position: relative; top: 2px; }
ul.listView.nobrd li span.inputText input[type="radio"]:first-child { margin-left: 0; }
@media screen and (max-width: 1599px) {
    #popupExport { top: 159px; right: 30px !important; }
}
@media screen and (max-width: 1023px) {
    #popupExport { top: 181px !important; right: 35px !important; }
}