#gridcolumncustomizemodal {padding-right: 0 !important;}
.gridModal {width: 55% !important;max-width: 55% !important;}
.secTitle {font-size: 14px;padding: 10px 0;margin: 0 0 10px 0;border-bottom: 1px solid #e9ecef;}
.multiselect-container {display: block;width: 100%;border: 1px solid #ebe8f2;box-shadow: none;padding: 10px 0;}
.multiselect-container > li {font-size: 16px;}
.multiselect-container > li > a > label {width: 94%;padding: 5px 30px;margin: 0 3% !important;font-size: 1rem;color: #222;}
.multiselect-container > li:last-child > a > label {border-bottom: 0px solid #ccc;}
.dropdown-menu > li > a:hover {background: none !important;text-decoration: none !important;}
.multiselect-container > li > a {outline: 0;}
#gridcolumncustomizemodal ul.multiselect-container.dropdown-menu .m-checkbox.m-checkbox--state-success > span {top: 7px;}
.control-label {font-size: 1.1rem;font-weight: 500;}
.cntSource {margin-top: 10px;border: 1px solid #ebe8f2;height: 318px;overflow: auto;}
.cntPresenter {margin-top: 10px;border: 1px solid #ebe8f2;height: 318px;overflow: auto;}
ul#PresenterList {font-family: 'Roboto', sans-serif;padding: 10px;}
ul#PresenterList li {padding: 5px 10px;border: 1px solid #b9c1c4;border-radius: 4px;font-size: 1rem;color: #222;font-weight: 400;transition: 0.15s ease-in-out;cursor: default;margin-bottom: 5px;}
ul#PresenterList li:not(.disabled):hover {border: 1px solid #34bfa3;}
ul#PresenterList li.activeCol {border: 1px solid #34bfa3;background: #34bfa3;color: #fff;}
#gridcolumncustomizemodal ul.multiselect-container.dropdown-menu {display: block;height: 364px;overflow: auto;}
ul#PresenterList li.disabled {background: #b9c1c4;}
ul#PresenterList li.disabled span {color: white;}
li.disabled .m-checkbox.m-checkbox--state-success > input:checked ~ span {border: 1px solid #bdc3d4;}
li.disabled label.m-checkbox.m-checkbox--bold.m-checkbox--state-success.checkbox {color: #bdc3d4;}
li.disabled .m-checkbox.m-checkbox--state-success > input:disabled ~ span:after {border-color: #bdc3d4;}
/********** Responsive **********/
@media only screen and (min-width: 1024px) and (max-width: 1199px) {.gridModal {width: 65% !important;max-width: 65% !important;}}
@media only screen and (min-width: 768px) and (max-width: 1023px) {.gridModal {width: 90% !important;max-width: 90% !important;}}
@media only screen and (min-width: 640px) and (max-width: 767px) {.gridModal {width: 90% !important;max-width: 90% !important;}
.newRightPopArea {margin-top: 375px;}}
@media only screen and (min-width: 568px) and (max-width: 639px) {.gridModal {width: 98% !important;max-width: 98% !important;}
.newRightPopArea {margin-top: 375px;}}
@media only screen and (min-width: 480px) and (max-width: 567px) {.gridModal {width: 97.5% !important;max-width: 97.5% !important;}
.newRightPopArea {margin-top: 375px;}}
@media only screen and (min-width: 360px) and (max-width: 479px) {.gridModal {width: 97% !important;max-width: 97% !important;}
.newRightPopArea {margin-top: 375px;}}
@media only screen and (min-width: 320px) and (max-width: 359px) {.gridModal {width: 97% !important;max-width: 97% !important;}
.newRightPopArea {margin-top: 375px;}
#btnAvengerUp, #btnAvengerDown, #btnRemoveAvenger {margin-bottom: 5px !important;width: 100%;}}
