.chip {
    display: inline-block;
    padding: 0 15px 0 22px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #d0e8fa;
    margin-bottom: 10px;
    color: #000;
}

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

    .closebtn:hover {
        color: #000;
    }

.chiplikeimage {
    color: white;
    float: left;
    background-color: #4685a3;
    margin: 0 5px 0 -22px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    line-height: 30px;
    }
