@model Client.Models.PreventiveMaintenance.PrevMaintVM
<div id="LocationModal" class="modal fade dropdown-modal" role="dialog" style="display:none;">
    <div class="modal-dialog partPopup">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="btnLocChildrenClose">&times;</button>
                <h4 class="modal-title" id="popLocationTable">Select Location@*@Model.Loc.Where(a => a.ResourceId == "GlobalSelectEquipment").FirstOrDefault().Value.ToString()*@</h4>
            </div>
            <div class="modal-body">
                <div id="tbldropdown" class="dropdown-content tbl-dropdown" style="display:block;">
                    <div class="table-responsive dropTableOuter">
                        <table id="LocationTable" class="stripe dropTable globalDropTable" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Location ID</th>
                                    <th>@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString()</th>
                                    <th>Complex</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tfoot id="tblLocationfooter" style="display:none">
                                <tr>
                                    <th style="position:relative;">Location ID</th>
                                    <th style="position:relative;">@Model.Loc.Where(a => a.ResourceId == "spnName").FirstOrDefault().Value.ToString()</th>
                                    <th style="position:relative;">@*Complex*@</th>
                                    <th style="position:relative;">@*Type*@</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding:15px 25px !important;">
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .dropdown-content {
        height: 438px !important;
    }

    .EquipmentPRPopup {
        max-width: 80% !important;
    }
</style>
