
<div id="createPmPopup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-info">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@UtilityFunction.GetMessageFromResource("spnCreatePreventiveMaintenanceMaster", LocalizeResourceSetConstants.PrevMaintDetails)</h4>
            </div>

            <div class="modal-body" style="text-align:center;">
                <button type="button" class="btn btn-blue btnRqst" id="btnPmLibrary"><i class="fa fa-hand-pointer-o faIcon"></i> &nbsp;@UtilityFunction.GetMessageFromResource("spnUsePMLibraryProcedure", LocalizeResourceSetConstants.PrevMaintDetails)</button>
                <button type="button" class="btn btn-blue btnRqst" id="btnDescribeNeed"><i class="fa fa-file-text-o faIcon"></i> &nbsp;@UtilityFunction.GetMessageFromResource("spnDescribeWhatYouNeed", LocalizeResourceSetConstants.Global)</button>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>
