@charset "utf-8";
/* CSS Document */
.selectDrop { width: 70% !important; float: left !important; }
.selectBttn { width: 25.5% !important; float: right !important; }
img.siteLogo { width:100% !important; height:auto !important; }

.input-append { width:100%; }
.add-on { position:absolute; right:1px; top:1px; border:0 !important; background-color:transparent !important; }
.searchBttn { width:100% !important; padding: 0.75rem 5.5rem !important; }

.selectDrop2 { width: 100% !important; }

.customAdjust { float: right; position: relative; top: 0px; }
.customAdjust2 { float: right; position: relative; top: 35px; right:40px; }
.gridText { font-weight: 400; font-size: 1.07rem; margin-bottom:2.2rem; }
.gridText2 { font-weight: 400; font-size: 1.07rem; margin-bottom:1.5rem; padding-left:15px; font-weight:600; }
.optnIcon { float: right; position: relative; font-size: 18px; top: -18px; right: 0px; z-index: 9; color:#fff; }

.iconsBox {
    float: right;
    line-height: 65px;
}

    .iconsBox a {
        font-weight: 400;
        font-size: 1.07rem;
        color: #676c7b;
        text-decoration: none;
        padding: 0 5px;
    }

        .iconsBox a:hover {
            color: #716aca;
        }

@media only screen and (min-width: 1366px) and (max-width: 1599px)
{
	.selectDrop { width: 63% !important; float: left !important; }
	.selectBttn { width: 31.5% !important; float: right !important; }
	.searchBttn { padding: 0.75rem 4rem !important; }
}

@media only screen and (min-width: 1200px) and (max-width: 1365px)
{
	/*.selectDrop { width: 71% !important; float: left !important; }
	.selectBttn { width: 24% !important; float: right !important; }*/
	.selectDrop { width: 100% !important; float: none !important; }
	.selectBttn { width: 100% !important; float: none !important; margin-top:10px !important; padding: 0.75rem 7.5rem !important; }
	.searchBttn { padding: 0.75rem 3rem !important; }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px)
{
	.selectDrop { width: 79% !important; float: left !important; }
	.selectBttn { width: 16.5% !important; float: right !important; padding: 0.75rem 3rem !important; }
	.searchBttn { width:26% !important; padding: 0.75rem 5.5rem !important; float:right !important; }
}

/*@media only screen and (min-width: 966px) and (max-width: 1023px)
{
}*/

@media only screen and (min-width: 768px) and (max-width: 1023px)
{
	img.siteLogo { width:65% !important; height:auto !important; }
	.selectDrop { width: 79% !important; float: left !important; }
	.selectBttn { width: 16.5% !important; float: right !important; padding: 0.75rem 2.5rem !important; }
	.searchBttn { width:29% !important; padding: 0.75rem 5.5rem !important; float:right !important; }
}

@media only screen and (min-width: 640px) and (max-width: 767px)
{
	/* Galaxy Note3 */
	img.siteLogo { width:65% !important; height:auto !important; }
	.selectDrop { width: 71% !important; float: left !important; }
	.selectBttn { width: 24% !important; float: right !important; padding: 0.75rem 3.2rem !important; }
	.searchBttn { width:29% !important; padding: 0.75rem 4rem !important; float:right !important; }
}

/*@media only screen and (min-width: 603px) and (max-width: 639px)
{
}*/

@media only screen and (min-width: 568px) and (max-width: 639px)
{
	/* For Iphone5 */
	img.siteLogo { width:65% !important; height:auto !important; }
	.selectDrop { width: 71% !important; float: left !important; }
	.selectBttn { width: 24% !important; float: right !important; padding: 0.75rem 2.6rem !important; }
	.searchBttn { width:29% !important; padding: 0.75rem 3.3rem !important; float:right !important; }
}

@media only screen and (min-width: 480px) and (max-width: 567px)
{
	img.siteLogo { width:65% !important; height:auto !important; }
	.selectDrop { width: 70% !important; float: left !important; }
	.selectBttn { width: 25% !important; float: right !important; padding: 0.75rem 2rem !important; }
	.searchBttn { width:37% !important; padding: 0.75rem 3.3rem !important; float:right !important; }
	.reswth { max-width: 100% !important; flex: 0 0 100% !important; }
}

/*@media only screen and (min-width: 460px) and (max-width: 479px)
{
}*/

@media only screen and (min-width: 360px) and (max-width: 479px)
{
	/* Galaxy S5 */
	.selectDrop { width: 100% !important; float: none !important; }
	.selectBttn { width: 100% !important; float: none !important; margin-top:10px !important; padding: 0.75rem 8rem !important; }
	.searchBttn { width:100% !important; padding: 0.75rem 7rem !important; }
	.reswth { max-width: 100% !important; flex: 0 0 100% !important; }
}

@media only screen and (min-width: 320px) and (max-width: 359px)
{
	.selectDrop { width: 100% !important; float: none !important; }
	.selectBttn { width: 100% !important; float: none !important; margin-top:10px !important; padding: 0.75rem 6.6rem !important; }
	.searchBttn { width:100% !important; padding: 0.75rem 5.5rem !important; }
	.reswth { max-width: 100% !important; flex: 0 0 100% !important; }
}

/*@media only screen and (min-width: 240px) and (max-width: 319px)
{
}*/
