@charset "utf-8";
/* CSS Document */
.dropTableOuter .dropdown-content {
	display: none;
	position: relative;
	background-color: #f1f1f1;
	width: 100%;
	overflow: auto;
	z-index: 1;
	margin-top: 0px;
	border-radius: 0px;
	border: 1px solid #ccc;
	height: 190px;
	overflow-y: auto;
}
.dropTableOuter .dropdown-content.show {
	display: block;
	height: auto !important;
	max-height: 490px !important;
	background: #fff;
}
.dropTableOuter table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  background-color: #ebe8f2 !important;
  color: #575962 !important;
  border-bottom: 1px solid #f4f3f8;
  outline: 0 !important;
  font-weight: 400;
}
.dropTableOuter .dataTables_wrapper {
	margin-bottom: 0;
}
.dataTables_wrapper .dataTables_info {
    padding: 15px 0 0 0 !important;
    margin-left: 0px !important;
    float: right !important;
    font-size: 12px !important;
}
.dropTableOuter .dataTables_wrapper .dataTables_length {
	margin-right: 10px;
	float: right;
}
.dropTableOuter .select2-container--default .select2-selection--single .select2-selection__rendered,
.dropTableOuter .select2-container--default .select2-selection--single {
	border-radius: 50px;
	border: 1px solid #fff !important;
	font-size: 12px;
}
.dropTableOuter .dataTables_length .select2-selection__rendered {
	color: #575962 !important;
	background-color: #ebe8f2 !important;
}
.dropTableOuter .dataTables_length .select2-selection__rendered:hover,
.dropTableOuter .dataTables_length .select2-selection__rendered:focus,
.dropTableOuter .dataTables_length .select2-selection__rendered:active {
	color: #575962 !important;
	background-color: #ebe8f2 !important;
	border: 1px solid #c5c5c5 !important;
}
.dropTableOuter .dataTables_length .select2-selection__arrow:before {
	color: #575962 !important;
}
.globalDropTable tfoot {
	display: table-header-group;
	font-size: 12px;
}
.globalDropTable tbody {
	display: table-header-group;
	font-size: 12px;
}
table.dropTable thead {
	line-height: 10px !important;
}
.dropTableOuter table.dataTable tfoot th, .dropTableOuter table.dataTable tfoot td {
    padding: 0;
    border: 1px solid #ddd !important;
}
.tfootsearchtxt {
	border: 0;
	outline: 0;
	border-radius: 2px;
	height: 25px;
	padding: 5px 5px 5px 20px;
	line-height: 30px;
	border: 1px solid #d6d4da;
	border-radius: 4px;
    line-height:17px;
}
.tfootsearchtxt:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
table.dataTable.dropTable tfoot th {
	background: #ebe8f2;
	padding: 5px;
}
table.dataTable.dropTable tbody td {
	padding: 3px 7px;
}
.tbl-dropdown ul.pagination > li.paginate_button.first > a.page-link,
.tbl-dropdown ul.pagination > li.paginate_button.previous > a.page-link,
.tbl-dropdown ul.pagination > li.paginate_button.next > a.page-link,
.tbl-dropdown ul.pagination > li.paginate_button.last > a.page-link {
	padding: 0 !important;
	border: none !important;
}
.tbl-dropdown .dataTables_paginate {
	margin-left: 10px;
}
.tbl-dropdown ul.pagination > li.page-item {
	height: auto !important;
}
.tbl-dropdown ul.pagination > li.page-item > a.page-link {
	border-radius: 50%;
	border: none;
	margin: 0 1px;
	padding: 0;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	outline: 0;
	font-size: 12px;
}
.tbl-dropdown ul.pagination > li.page-item.active > a.page-link {
	border-radius: 50%;
	border: none;
	outline: 0;
}
.m-badge--custom {
  letter-spacing: 0.6px;
  padding: 1px 10px;
  border-radius: 0;
  border-radius: .75rem;
  vertical-align: middle;
  /*text-align: center;*/
  text-align: left;
  display: inline-block;
  /*height: 25px;*/
  height: auto;
  min-width: 20px;
  font-size: 12px;
  line-height: 25px;
}
ul.listView.partListView li span.label {
    width: 20%;
}
ul.listView.partListView li span.inputText {
    width: 80%;
}
.dropSearchIcon {
	position: absolute;
	top: 12px;
	left: 12px;
	font-size: 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	background: none !important;
	box-shadow: none !important;
}
.dropTableOuter table.dataTable.stripe tbody tr.odd, .dropTableOuter table.dataTable.display tbody tr.odd {
    background-color: #faf9fc;
}
.btntxtInputGroup {
	border-radius: 0 4px 4px 0;
	border: 1px solid #b9c1c4;
	color: #315a98;
	background-color: #fff;
}
.m-badge--dot-custom {
	padding: 0;
	line-height: 6px;
	min-height: 6px;
	min-width: 6px;
	height: 6px;
	border-radius: 100%;
	display: inline-block;
	font-weight:400;
}
.m--font-custom {
	font-weight: 400;
}
.dropTableOuter table.dataTable thead {
    outline: none !important;
}

    .dropTableOuter table.dataTable thead .sorting_asc {
        background-image: url('/Scripts/Metronic/Images/upArrow.png') !important;
    }

    .dropTableOuter table.dataTable thead .sorting_desc {
        background-image: url('/Scripts/Metronic/Images/downArrow.png') !important;
    }
.dropTableOuter table.dataTable thead .sorting {
    background-image: none !important
}
.dataTables_length select.innergrid-searchdt-menu {
    background-color: #ebe9f2 !important;
    border: none !important;
    border-radius: 50px !important;
    padding: 0.50rem !important;
}
.dataTables_length select.innergrid-searchdt-menu option {
    background-color: #fff !important;
}
.dataTables_length select.innergrid-searchdt-menu:focus {
    border: none !important;
    box-shadow:none !important;
}
.drpTblOutr {

}
.drpTblOutr table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
}
table.dataTable.newGlobalDropTable tbody td {
    padding: 10px;
}
.newGlobalDropTable tfoot {
    display: table-header-group;
    font-size: 12px;
}
.newGlobalDropTable tbody {
    display: table-header-group;
    font-size: 12px;
}
ul.partListView li input.dropbtn,
ul.listView li input.dropbtn {
    border-radius: 0.25rem 0 0 0.25rem;
    margin-top: 2px;
}
.full-tbl-dropdown .dataTables_wrapper {
    width: 100%;
}
/********** #partModal to .dropdown-modal Dropdown CSS Change **********/
.dropdown-modal {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.dropdown-modal .partPopup,
.partPopup {
    max-width: 80%;
}
.dropdown-modal .dropdown-content {
    height: 440px;
    background-color: #fff;
}
.dropdown-modal .tbl-dropdown .dataTables_wrapper {
    width: 100%;
}
.dropTableOuter .dataTables_wrapper#TblXrefParts_wrapper,
#tbldropdown.dropdown-content {
    background: #fff;
}
table.dataTable.dropTable.tableWOBtn tbody td {
    padding:7px;
}
.dropdown-modal .modal-footer {
    display:none !important;
}
.dropdown-modal #ChildrenModalContent .modal-footer {
    display:block !important;
}
.dropdown-modal .modal-header {
    padding: 15px 25px 5px !important;
}
#inventorySelectTable tbody td:nth-child(6),
#inventorySelectTable tbody td:nth-child(7) {
    text-align: center;
}
table#contactTable tbody td:last-child {
    width:80px;
}
.dt-inline-text {
    width: 110px !important;
}